div.footer
    div.layout
        .contacts
            div
                a.phone(href="tel:+74959887337") 8 (495) 988-73-37
                a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru
        div.cat
        a.logo(href="/")
        .menu-box
            ul.menu
                li
                    a(href="#") 
                        .menu-icon-a
                        span Реклама
                li
                    a(href="#") 
                        .menu-icon-ruble
                        span Лицензия
                li
                    a(href="#") 
                        .menu-icon-globe
                        span Дистрибуция контента
                li
                    a(href="#") 
                        .menu-icon-360
                        span Спецпроекты
                li
                    a(href="#") 
                        .menu-icon-about
                        span О нас
                li
                    a(href="#") 
                        .menu-icon-news
                        span Новости
                li
                    a(href="#") 
                        .menu-icon-contacts
                        span Контакты
            
        .banners
            p При поддержке:
            a.vgtrk(href="#")
                img(src="/templates/corporate/images/footer_logoVGTRK.png")
            a.llt(href="#")
                img(src="/templates/corporate/images/footer_logoCT.png")
