div.header
    #sandwich
    a.logo(href="/")
    #buffer
        div
            a.phone(href="tel:+74959887337") 8 (495) 988-73-37
            //a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru
    
    .menu-box
        ul.menu.hidden#menu1
            li
                a(href="#") 
                    .menu-icon-ruble
                    span Продажа рекламы
            li
                a(href="#") 
                    .menu-icon-a
                    span Продажа лицензии
            li
                a(href="#") 
                    .menu-icon-globe
                    span Дистрибуция контента
            li
                a(href="#") 
                    .menu-icon-360
                    span Спецпроекты
            li
                a(href="#") 
                    .menu-icon-about
                    span О нас
            li
                a(href="#") 
                    .menu-icon-news
                    span Новости
            li
                a(href="#") 
                    .menu-icon-contacts
                    span Контакты