doctype html5
html 
    head
        title 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="templates/corporate/js/build.js")
        script(src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript")
        
        link(href='templates/corporate/css/style.min.css', rel='stylesheet')
    body 
        