.sideBar
    p тв каналы
    ul
        li
            a(href="#") мульт
        li
            a(href="#") мама
        li
            a(href="#") карусель
        li
            a(href="#") ани
    .clear
    p бренды
    ul
        li
            a(href="#") аркадий паровозов
        li
            a(href="#") мимимишки
        li
            a(href="#") бумажки
        li
            a(href="#") волшебный фонарь
    // ul
    //     li.mult_small(style="background-image: url('/templates/corporate/images/mult_small.png')")
    //         a(href="#")
    //     li.mama_small(style="background-image: url('/templates/corporate/images/mama_small.png')")
    //         a(href="#")
    //     li.carusel_small(style="background-image: url('/templates/corporate/images/carusel_small.png')")
    //         a(href="#")
    //     li.ani_small(style="background-image: url('/templates/corporate/images/ani_small.png')")
    //         a(href="#")
    // .clear
    // p бренды
    // ul
    //     li.arcadiy_small(style="background-image: url('/templates/corporate/images/arkadiy_small.png')")
    //         a(href="#")
    //     li.mishki_small(style="background-image: url('/templates/corporate/images/mishki_small.png')")
    //         a(href="#")
    //     li.papers_small(style="background-image: url('/templates/corporate/images/papers_small.png')")
    //         a(href="#")
    //     li.magiclight_small(style="background-image: url('/templates/corporate/images/magiclight_small.png')")
    //         a(href="#")