@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin,cyrillic-ext);
* {
  padding: 0;
  margin: 0;
  outline: 0;
}
html,
body {
  font: normal 14px/18px Helvetica, sans-serif;
  line-height: 120%;
  line-height: 1.20;
}
hr {
  color: #777;
  background-color: #777;
  height: 1px;
  margin: 25px 0;
  *margin: 0;
  border: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
h1 {
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  margin: 30px 0 15px 0;
}
h2 {
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  margin: 30px 0 10px 0;
}
.clear {
  display: block;
  clear: both;
}
.layout {
  margin: 0 auto;
  width: 922px;
  position: relative;
}
.title-big {
  color: #3eaab6;
  font-size: 39pt;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.logo {
  width: 113px;
  height: 113px;
  background: url('/template/corporate/images/Logo_0+.png') no-repeat;
}
.menu-icon-advert {
  background-image: url('/template/corporate/images/menu_icon_advert_blue.png');
}
a:hover .menu-icon-advert {
  background-image: url('/template/corporate/images/menu_icon_advert.png');
}
.menu-icon-about {
  background-image: url('/template/corporate/images/menu_icon_about_blue.png');
}
a:hover .menu-icon-about {
  background-image: url('/template/corporate/images/menu_icon_about.png');
}
.menu-icon-contacts {
  background-image: url('/template/corporate/images/menu_icon_contacts_blue.png');
}
a:hover .menu-icon-contacts {
  background-image: url('/template/corporate/images/menu_icon_contacts.png');
}
.menu-icon-360 {
  background-image: url('/template/corporate/images/menu_icon_360_blue.png');
}
a:hover .menu-icon-360 {
  background-image: url('/template/corporate/images/menu_icon_360.png');
}
.menu-icon-globe {
  background-image: url('/template/corporate/images/menu_icon_globe_blue.png');
}
a:hover .menu-icon-globe {
  background-image: url('/template/corporate/images/menu_icon_globe.png');
}
.menu-icon-news {
  background-image: url('/template/corporate/images/menu_icon_news_blue.png');
}
a:hover .menu-icon-news {
  background-image: url('/template/corporate/images/menu_icon_news.png');
}
.menu-icon-ruble {
  background-image: url('/template/corporate/images/menu_icon_ruble_blue.png');
}
a:hover .menu-icon-ruble {
  background-image: url('/template/corporate/images/menu_icon_ruble.png');
}
.hidden {
  display: none!important;
}
.visible {
  display: block!important;
}
#menu1 {
  display: none;
}
#buffer {
  display: none;
}
#buffer > div {
  float: right;
}
#buffer > div .phone {
  font-size: 17px;
}
#buffer > div a {
  display: block;
  color: #585858;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none !important;
}
.header {
  margin-top: 30px;
}
.header > a {
  display: inline-block;
}
.header > a img {
  cursor: pointer;
}
.header #sandwich {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 0;
  height: 0;
}
.header .menu-box {
  display: inline-block;
  width: 87%;
  vertical-align: top;
  margin-top: 20px;
  text-transform: uppercase;
}
.header .menu-box .openMenu {
  background: #CCC;
  width: 30px;
  height: 30px;
  display: none;
}
.header .menu-box ul {
  display: table;
  margin: 0;
  padding: 0;
  float: right;
  position: absolute;
  top: 30px;
  right: 0;
}
.header .menu-box ul li {
  display: inline-block;
  float: none;
  width: 95px;
  margin-left: 20px;
  vertical-align: top;
}
.header .menu-box ul li a {
  display: block;
  text-decoration: none;
}
.header .menu-box ul li a:hover span {
  color: #3eaab6;
}
.header .menu-box ul li a > div {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 34px;
  width: 34px;
  margin-bottom: 15px;
}
.header .menu-box ul li a span {
  display: block;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  text-align: center;
  line-height: 120%;
  line-height: 1.20;
}
.slide1 .slide_title {
  background-image: url('/template/corporate/images/slider_title_mult.png');
  width: 200px;
  height: 50px;
  top: 95px;
  left: 15px;
  opacity: 1;
}
.slide2 .slide_title {
  background-image: url('/template/corporate/images/slider_title_mama.png');
  width: 204px;
  height: 45px;
  top: 95px;
  left: 15px;
}
.slide3 .slide_title {
  background-image: url('/template/corporate/images/slider_title_carusel.png');
  width: 204px;
  height: 82px;
  top: 80px;
  left: 11px;
}
.slide4 .slide_title {
  background-image: url('/template/corporate/images/slider_title_ani.png');
  width: 119px;
  height: 61px;
  top: 90px;
  left: 50px;
}
.slide5 .slide_title {
  background-image: url('/template/corporate/images/slider_title_arcadiy.png');
  width: 186px;
  height: 136px;
  top: 55px;
  left: 20px;
}
.slide6 .slide_title {
  background-image: url('/template/corporate/images/slider_title_mimimishki.png');
  width: 181px;
  height: 82px;
  top: 90px;
  left: 25px;
}
.slide7 .slide_title {
  background-image: url('/template/corporate/images/slider_title_papers.png');
  width: 138px;
  height: 137px;
  top: 53px;
  left: 50px;
}
.slide8 .slide_title {
  background-image: url('/template/corporate/images/slider_title_magiclight.png');
  width: 176px;
  height: 125px;
  top: 63px;
  left: 32px;
}
.slider-arrow-right {
  background-image: url('/template/corporate/images/slider_arrow_left.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 42px;
  height: 54px;
  top: 95px;
  cursor: pointer;
  left: 5px;
}
.slider-arrow-left {
  background-image: url('/template/corporate/images/slider_arrow_right.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 42px;
  height: 54px;
  top: 95px;
  left: 880px;
  cursor: pointer;
}
.slider-arrow-left-black,
.slider-arrow-right-black {
  position: absolute;
  width: 0;
  height: 0;
}
.slider-arrow-left-blackb,
.slider-arrow-right-blackb {
  position: absolute;
  width: 0;
  height: 0;
}
.hover-div {
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.hover-div:hover {
  opacity: 1;
}
.content .text {
  font-size: 19px;
  margin-top: 50px;
  font-weight: 700;
  color: #787777;
  line-height: 155%;
  line-height: 1.50;
}
.content .text .text-blue {
  color: #3eaab6;
}
.content .channels {
  margin-top: 65px;
}
.content .channels #slider-channels {
  margin-top: 10px;
  position: relative;
}
.content .channels #slider-channels .parrot {
  position: absolute;
  background-image: url('/template/corporate/images/tuk_tuk.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 147px;
  z-index: 2;
  top: -115px;
  left: -50px;
}
.content .channels #slider-channels #slider-channels-viewport {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 920px;
}
.content .channels #slider-channels #slider-channels-viewport .slides {
  width: 15000px;
  margin-left: -920;
}
.content .channels #slider-channels #slider-channels-viewport ul {
  position: relative;
}
.content .channels #slider-channels #slider-channels-viewport ul li {
  position: relative;
  display: inline-block;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.content .channels #slider-channels #slider-channels-viewport ul li .slide_title {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .brands {
  margin-top: 65px;
}
.content .brands #slider-brands {
  margin-top: 10px;
}
.content .brands #slider-brands #slider-brands-viewport {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 920px;
}
.content .brands #slider-brands #slider-brands-viewport .slides {
  width: 15000px;
  margin-left: -920;
}
.content .brands #slider-brands #slider-brands-viewport ul {
  position: relative;
}
.content .brands #slider-brands #slider-brands-viewport ul li {
  position: relative;
  display: inline-block;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .brands #slider-brands #slider-brands-viewport ul li .slide_title {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.setka {
  background: url('/template/corporate/images/setka.png') no-repeat center center;
  padding: 50px;
  position: relative;
  min-height: 400px;
  margin-top: 100px;
}
.setka > a {
  display: block;
  position: absolute;
  font-weight: 700;
  width: 370px;
  text-decoration: none;
  color: #000;
}
.setka > a > div {
  padding-left: 150px;
}
.setka > a > div span {
  text-transform: uppercase;
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
}
.setka > a > div p {
  font-size: 13px;
  color: #818181;
}
.setka > a .img {
  position: absolute;
  display: block;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.setka > a .img-advert {
  width: 126px;
  height: 97px;
  background-image: url('/template/corporate/images/advert_advert.png');
}
.setka > a .img_distribution {
  width: 124px;
  height: 95px;
  background-image: url('/template/corporate/images/advert_distribution.png');
}
.setka > a .advert-license {
  width: 120px;
  height: 89px;
  background-image: url('/template/corporate/images/advert_license.png');
}
.setka > a .img-special {
  width: 120px;
  height: 95px;
  background-image: url('/template/corporate/images/advert_special.png');
}
.setka a.one {
  top: 0;
  left: 400px;
}
.setka a.two {
  top: 100px;
  left: 50px;
}
.setka a.three {
  top: 190px;
  right: 0px;
}
.setka a.four {
  bottom: 100px;
  left: 150px;
}
.footer {
  margin-top: 40px;
  min-height: 230px;
  background: #3eaab6 url('/template/corporate/images/footer_back.png') repeat-x top;
  margin-top: 5px;
}
.footer .logo {
  width: 113px;
  height: 113px;
  background: url('/template/corporate/images/footer_logo0+.png') center center no-repeat;
  display: inline-block;
  margin-top: 5px;
}
.footer .menu-box {
  display: inline-block;
  vertical-align: top;
}
.footer .menu-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 20px;
}
.footer .menu-box ul li {
  max-width: 90px;
  display: inline-block;
  color: #FFF;
  vertical-align: top;
  margin-top: 43px;
  margin-right: 10px;
}
.footer .menu-box ul li a {
  color: #FFF;
  text-decoration: none;
  font-size: 13px;
}
.footer .contacts {
  float: right;
  color: #FFF;
  font-size: 23px;
  font-weight: 600;
  margin-top: 30px;
}
.footer .contacts .phone {
  font-size: 30px;
}
.footer .contacts span {
  display: block;
}
.footer .banners {
  display: block;
  margin-top: 30px;
}
.footer .banners .vgtrk {
  margin-left: 10px;
  margin-right: 20px;
}
.footer .cat {
  position: absolute;
  background-image: url('/template/corporate/images/kot.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 141px;
  height: 190px;
  z-index: 2;
  top: -115px;
  right: -200px;
}
/*  @media-query */
@media screen and (max-width: 352px) {
  
}
@media screen and (max-width: 480px) {
  
}
@media screen and (max-width: 720px) {
  
}
@media screen and (max-width: 860px) {
  
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html,
  body {
    font-size: 100%;
  }
  .layout {
    margin: 0px;
    width: 100%;
    overflow: hidden;
  }
  .layout #menu1 {
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
  }
  .layout #menu1 div {
    display: none!important;
  }
  .layout #menu1 li {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: #d8d8d8;
    border-bottom: 2px solid #fff;
  }
  .layout #menu1 li a {
    display: block;
    text-decoration: none;
    color: #000;
    height: 100%;
  }
  .layout #menu1 li a span {
    padding-top: 17px;
    display: block;
    font-weight: 700;
  }
  .layout .header {
    position: relative;
  }
  .layout .menu-box {
    width: 100%;
    margin: 0;
    /*:before{
                  content:'';
                  position:absolute;
                  width:50px;
                  height:50px;
                  background:#CCC;
                  top:0;
              }*/
  
  }
  .layout .menu-box .menu {
    display: none;
  }
  .logo {
    width: 85px;
    height: 85px;
    background-size: cover;
    margin-left: 10px;
    display: inline-block;
  }
  #buffer {
    display: inline-block;
    width: 55%;
  }
  #sandwich {
    background-image: url('/template/corporate/images/sandwich.png') !important;
    width: 36px!important;
    height: 29px!important;
    margin-right: 10px;
    display: inline-block;
    position: relative!important;
    vertical-align: top;
  }
  .setka {
    padding: 10px;
    background: none;
    height: auto;
    width: 300px;
    margin: 20 auto;
  }
  .setka > a {
    position: initial;
    margin-top: 30px;
  }
  .setka > a > div {
    position: relative!important;
    display: inline-block !important;
    top: auto!important;
    left: auto!important;
    right: auto!important;
    bottom: auto!important;
  }
  .setka > a > div span {
    font-size: 1.1em!important;
  }
  .setka > a > :last-child {
    display: inline-block;
    padding-left: 0px;
    width: 50%;
    margin-left: 10px;
    vertical-align: top;
  }
  .title-big {
    font-size: 2.2em;
  }
  .cat,
  .parrot {
    display: none;
  }
  .content .text {
    font-size: 1em;
    font-weight: normal!important;
    padding: 10px;
  }
  #slider-channels,
  #slider-brands {
    width: 300px;
    margin: 10 auto;
  }
  #slider-channels > div,
  #slider-brands > div {
    display: inline-block;
  }
  #slider-channels #slider-channels-viewport,
  #slider-brands #slider-channels-viewport,
  #slider-channels #slider-brands-viewport,
  #slider-brands #slider-brands-viewport {
    overflow: hidden!important;
    width: 231px!important;
  }
  #slider-channels #slider-channels-viewport .slider-arrow-left,
  #slider-brands #slider-channels-viewport .slider-arrow-left,
  #slider-channels #slider-brands-viewport .slider-arrow-left,
  #slider-brands #slider-brands-viewport .slider-arrow-left,
  #slider-channels #slider-channels-viewport .slider-arrow-right,
  #slider-brands #slider-channels-viewport .slider-arrow-right,
  #slider-channels #slider-brands-viewport .slider-arrow-right,
  #slider-brands #slider-brands-viewport .slider-arrow-right {
    background-image: none;
    width: 0;
    height: 0;
  }
  #slider-channels #slider-channels-viewport li,
  #slider-brands #slider-channels-viewport li,
  #slider-channels #slider-brands-viewport li,
  #slider-brands #slider-brands-viewport li {
    background-image: none!important;
    height: 140px!important;
  }
  #slider-channels #slider-channels-viewport .slide1 .slide_title,
  #slider-brands #slider-channels-viewport .slide1 .slide_title,
  #slider-channels #slider-brands-viewport .slide1 .slide_title,
  #slider-brands #slider-brands-viewport .slide1 .slide_title {
    top: 45px;
  }
  #slider-channels #slider-channels-viewport .slide2 .slide_title,
  #slider-brands #slider-channels-viewport .slide2 .slide_title,
  #slider-channels #slider-brands-viewport .slide2 .slide_title,
  #slider-brands #slider-brands-viewport .slide2 .slide_title {
    top: 45px;
  }
  #slider-channels #slider-channels-viewport .slide3 .slide_title,
  #slider-brands #slider-channels-viewport .slide3 .slide_title,
  #slider-channels #slider-brands-viewport .slide3 .slide_title,
  #slider-brands #slider-brands-viewport .slide3 .slide_title {
    top: 30px;
  }
  #slider-channels #slider-channels-viewport .slide4 .slide_title,
  #slider-brands #slider-channels-viewport .slide4 .slide_title,
  #slider-channels #slider-brands-viewport .slide4 .slide_title,
  #slider-brands #slider-brands-viewport .slide4 .slide_title {
    top: 40px;
  }
  #slider-channels #slider-channels-viewport .slide5 .slide_title,
  #slider-brands #slider-channels-viewport .slide5 .slide_title,
  #slider-channels #slider-brands-viewport .slide5 .slide_title,
  #slider-brands #slider-brands-viewport .slide5 .slide_title {
    top: 5px;
  }
  #slider-channels #slider-channels-viewport .slide6 .slide_title,
  #slider-brands #slider-channels-viewport .slide6 .slide_title,
  #slider-channels #slider-brands-viewport .slide6 .slide_title,
  #slider-brands #slider-brands-viewport .slide6 .slide_title {
    top: 25px;
  }
  #slider-channels #slider-channels-viewport .slide7 .slide_title,
  #slider-brands #slider-channels-viewport .slide7 .slide_title,
  #slider-channels #slider-brands-viewport .slide7 .slide_title,
  #slider-brands #slider-brands-viewport .slide7 .slide_title {
    top: 0px;
  }
  #slider-channels #slider-channels-viewport .slide8 .slide_title,
  #slider-brands #slider-channels-viewport .slide8 .slide_title,
  #slider-channels #slider-brands-viewport .slide8 .slide_title,
  #slider-brands #slider-brands-viewport .slide8 .slide_title {
    top: 15px;
  }
  #slider-channels .parrot,
  #slider-brands .parrot {
    display: none;
  }
  #slider-channels .slider-arrow-left-black,
  #slider-brands .slider-arrow-left-black {
    position: relative;
    background-image: url('/template/corporate/images/slider_arrow_right_black.png') !important;
    width: 34px;
    height: 43px;
    vertical-align: top;
    margin-top: 52px;
  }
  #slider-channels .slider-arrow-right-black,
  #slider-brands .slider-arrow-right-black {
    position: relative;
    background-image: url('/template/corporate/images/slider_arrow_left_black.png') !important;
    width: 34px;
    height: 43px;
    vertical-align: top;
    margin-top: 52px;
  }
  #slider-channels .slider-arrow-left-blackb,
  #slider-brands .slider-arrow-left-blackb {
    background-image: url('/template/corporate/images/slider_arrow_right_black.png') !important;
    width: 34px;
    height: 43px;
    vertical-align: top;
    margin-top: 52px;
    position: relative;
  }
  #slider-channels .slider-arrow-right-blackb,
  #slider-brands .slider-arrow-right-blackb {
    background-image: url('/template/corporate/images/slider_arrow_left_black.png') !important;
    width: 34px;
    height: 43px;
    vertical-align: top;
    margin-top: 52px;
    position: relative;
  }
  .menu-box .openMenu {
    display: block;
  }
  .footer .layout {
    margin: 0px;
  }
  .footer .layout .contacts {
    margin: 50px 20px 0px 0px;
    font-size: 15px;
  }
  .footer .layout .contacts .phone {
    font-size: 19px;
    color: #FFF !important;
    text-decoration: none !important;
  }
  .footer .layout .banners {
    margin: 20px 0px 0px 20px;
  }
  .footer .layout .email {
    font-size: 15px!important;
  }
  .phone {
    color: #585858 !important;
    text-decoration: none !important;
    margin-bottom: 10px;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .clear {
    display: inline-block;
    position: absolute;
    clear: none;
    width: 0px;
    height: 0px;
  }
  .setka {
    background: none;
  }
  .setka > div {
    display: inline-block !important;
    position: relative!important;
    width: 50%;
    top: auto!important;
    left: auto!important;
    right: auto!important;
    bottom: auto!important;
    margin-bottom: 25px;
    float: left;
  }
  .setka > div > div {
    display: inline-block !important;
  }
  .setka > div :last-child {
    width: 65%;
    padding-left: 10px;
  }
  .setka > div .img {
    position: relative!important;
  }
  .setka > div .img-advert {
    margin-top: 22px;
  }
  .setka .specIpad {
    display: block;
    clear: both;
    position: relative;
  }
  .cat {
    display: none;
  }
  .parrot {
    display: none;
  }
  .channels,
  .brands {
    margin-top: 10px;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
