//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin,cyrillic-ext);

.border-radius(@radius:10px) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}
.gradient(@color-top:#FFF,@color-bottom:#000){
	background: @color-top; /* Old browsers */
	background: -moz-linear-gradient(top, @color-top 0%, @color-bottom 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @color-top 0%,@color-bottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, @color-top 0%,@color-bottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @color-top 0%,@color-bottom 100%); /* IE10+ */
	background: linear-gradient(to bottom, @color-top 0%,@color-bottom 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@color-top, endColorstr=@color-bottom,GradientType=0 ); /* IE6-9 */
}
.transition-background(){
	-webkit-transition: background .1s ease;
	-moz-transition: background .1s ease;
	-o-transition: background .1s ease;
	transition: background .1s ease
}
.transition(@speed:.05s,@style:ease){
	-webkit-transition: all @speed @style;
	-moz-transition: all @speed @style;
	-o-transition: all @speed @style;
	transition: all @speed @style
}

*{
    
    padding: 0;
    margin: 0;
    outline: 0;
}
html,body{
    font: normal 14px/18px  Helvetica, sans-serif; // Утвердили шрифт
    line-height: 120%; line-height:1.20;
    color: #2a2a2a;
    position: relative;
}

hr {
	color: #777;
	background-color: #777;
	height: 1px;
	margin: 25px 0;
	*margin: 0;
	border: none;
}
h1, h2, h3, h4, h5 {
	margin:0;
}

h1 {
	font-size: 18px;
	line-height: 20px;
	text-transform: none;
	margin: 30px 0 15px 0;
}
h2 {
	font-size: 16px;
	line-height: 18px;
	text-transform: none;
	margin: 30px 0 10px 0;
	
}

h1.caption{
    color:#3eaab6;
    font-size: 30pt;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:40px;
}

a{
    color:#3eaab6;
    text-decoration:underline;
    &:hover{
        text-decoration:none;
    }
}

.clear {
    display: block;
    clear: both;
}

.layout {
    margin: 0 auto;
    width: 922px;
    position: relative;
    //padding-bottom: 190px;
}
.title-big {
    color: #3eaab6;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 46px;
}
.float {
    position: fixed!important;
    z-index: 2;
    top: 20px!important;
}
.logo{
    width:117px;
    height:112px;
    background: url('/templates/corporate/images/logo.png') no-repeat;
    margin-top: 16px!important;
    margin-left: 14px;
    margin-bottom: 7px;
}
.hide{
    display:none;
}
.menu-icon-a {
    background-image: url('/templates/corporate/images/menu_icon_a_blue.png');
}
a:hover .menu-icon-a {
    background-image: url('/templates/corporate/images/menu_icon_a.png');
}
.menu-icon-about {
    background-image: url('/templates/corporate/images/menu_icon_about_blue.png');
}
a:hover .menu-icon-about {
    background-image: url('/templates/corporate/images/menu_icon_about.png');
}
.menu-icon-contacts {
    background-image: url('/templates/corporate/images/menu_icon_contacts_blue.png');
}
a:hover .menu-icon-contacts {
    background-image: url('/templates/corporate/images/menu_icon_contacts.png');
}
.menu-icon-360 {
    background-image: url('/templates/corporate/images/menu_icon_360_blue.png');
}
a:hover .menu-icon-360 {
    background-image: url('/templates/corporate/images/menu_icon_360.png');
}
.menu-icon-globe {
    background-image: url('/templates/corporate/images/menu_icon_globe_blue.png');
}
a:hover .menu-icon-globe {
    background-image: url('/templates/corporate/images/menu_icon_globe.png');
}
.menu-icon-news {
    background-image: url('/templates/corporate/images/menu_icon_news_blue.png');
}
a:hover .menu-icon-news {
    background-image: url('/templates/corporate/images/menu_icon_news.png');
}
.menu-icon-ruble {
    background-image: url('/templates/corporate/images/menu_icon_ruble_blue.png');
}
a:hover .menu-icon-ruble {
    background-image: url('/templates/corporate/images/menu_icon_ruble.png');
}
#buffer {
    display: none;
        & > div {
            float: right;
            margin-right: 12px;
            .phone {
                display:block;
                right:10px;
                position:absolute;
                font-size: 1.4em;
                margin-top:-30px;
                color:#3eaab6;;
            }
            a {
                display: block;
                color: #585858;
                font-weight: 700;
                font-size: 13px;
                text-decoration: none !important;
            }
        }
}
.brand-logo {
    margin-top: 35px;
}
.maincontent{
    margin-top:30px;
}
.header {
    margin-top: 20px;
    & > a {
        display: inline-block;
        margin-top: 23px;
        img {
            cursor: pointer;
        }
    }
    #sandwich {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        width: 0;
        height: 0;
    }
    .menu-box {
        display: inline-block;
        width: 87%;
        vertical-align: top;
        text-transform: uppercase;
        .openMenu{
            background:#CCC;
            width:30px;
            height:30px;
            display: none;
        }
        ul {
            display: table;
            margin: 0;
            padding: 0;
            float: right;
            position: absolute;
            top: 36px; //43px;
            right: -30px;
            right: 0;
            li {
                display: inline-block;
                float: none;
                width:93px;
                margin-left:20px;
                vertical-align: top;
                a {
                    display: block;
                    text-decoration: none;
                    height: 100%;
                    &:hover span{
                        color:#3eaab6;
                    }
                    & > div {
                        cursor: pointer;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin: 0 auto;
                        height: 34px;
                        width: 34px;
                        margin-bottom: 15px;
                    }
                    span {
                        display: block;
                        font-size: 14px;
                        //color: #3eaab6;
                        color: #2a2a2a;
                        font-weight: 700;
                        text-align: center;
                        line-height: 120%; 
                        line-height:1.20;
                    }
                }
            }
        }
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .menu-box ul {
        // Мозила
        //right: 0!important;
    }
}

.slide1 {
    .slide_title {
        background-image: url('/templates/corporate/images/slider_title_mult.png');
        width: 200px;
        height: 50px;
        top: 95px;
        left: 15px;
        opacity: 1;
    }
}
.slide2 {
    .slide_title {
        background-image: url('/templates/corporate/images/slider_title_mama.png');
        width: 204px;
        height: 45px;
        top: 95px;
        left: 15px;
    }
}
.slide3 {
    .slide_title {
        background-image: url('/templates/corporate/images/slider_title_carusel.png');
        width: 204px;
        height: 82px;
        top: 80px;
        left: 11px;
    }
}
.slide4 {
    .slide_title {
        background-image: url('/templates/corporate/images/slider_title_ani.png');
        width: 119px;
        height: 61px;
        top: 90px;
        left: 50px;
    }
}


.slide5 {
    .slide_title {
        background-image: url('/templates/corporate/images/slider_title_arcadiy.png');
        width: 186px;
        height: 136px;
        top: 55px;
        left: 20px;
    }
}
.slide6 {
    .slide_title {
        background-image: url('/templates/corporate/images/slider_title_mimimishki.png');
        width: 181px;
        height: 82px;
        top: 90px;
        left: 25px;
    }
}
.slide7 {
    .slide_title {
        background-image: url('/templates/corporate/images/slider_title_papers.png');
        width: 138px;
        height: 137px;
        top: 53px;
        left: 50px;
    }
}
.slide8 {
    .slide_title {
        background-image: url('/templates/corporate/images/slider_title_magiclight.png');
        width: 137px;
        height: 137px;
        top: 50px;
        left: 45px;
    }
}

.slider-arrow-right {
    background-image: url('/templates/corporate/images/slider_arrow_left.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 42px;
    height: 54px;
    top: 95px;
    cursor:pointer;
    left: 5px;
}
.slider-arrow-left {
    background-image: url('/templates/corporate/images/slider_arrow_right.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 42px;
    height: 54px;
    top: 95px;
    left: 880px;
    cursor: pointer;
}
.slider-arrow-left-black, .slider-arrow-right-black {
    position: absolute;
    width: 0;
    height: 0;
}
.slider-arrow-left-blackb, .slider-arrow-right-blackb {
    position: absolute;
    width: 0;
    height: 0;
}
.hover-div {
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    //border-radius: 20px;
}
.hover-div:hover {
    opacity: 1;
}
.text-blue {
    color: #3eaab6;
}
.text-black {
    color: #2a2a2a;
}
.text-gray{
    color: #6f6e6e;
}
.text-upper {
    text-transform: uppercase;
}
.text-bold {
    font-weight: 700;
}
.text-big-red {
    color: #B33952;
    font-size: 24px;
    font-weight: 700;
}
.text-big-black {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 700;
}
.text-15{
    font-size:15px;
}
.lic-spec {
        margin-top: 75px;
        font-weight: 700; 
        font-size: 23px;
    }
.text-uppercase{
    text-transform:uppercase;
}
.bold{
    font-weight:bold;
}

ul.list{
    list-style:none;
    padding:0;
    margin:0;
    li{
        display:block;
    }
}
ul.listTre{
    margin-bottom:20px;
    li{
        padding: 10px 40px;
        background: url('/templates/corporate/images/small_tre.png') no-repeat left center;
        font-size: 18px;
    }
}

.content {
    //padding-bottom: 190px;
    //height: 100%;
    .text {
        font-size: 18px;
        //margin-top: 22px;
        margin-top: 12px;
        color: #6f6e6e;
        line-height: 1.35;
        font-weight: normal;
    }
    .text-about {
        font-size: 18px;
        margin-top: 25px;
        color: #2a2a2a;
        line-height: 1.35;
        font-weight: normal;
          
    }
    .channels {
        margin-top: 65px;
        #slider-channels {
            margin-top: 10px;
            position: relative;
            .parrot{
                    position: absolute;
                    background-image: url('/templates/corporate/images/tuk_tuk.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    width:120px;
                    height:147px;
                    z-index: 2;
                    top: -115px;
                    left: -50px;
                }
            //-webkit-filter: grayscale(100%);  
            #slider-channels-viewport {
                font-size: 0;
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                width: 920px;
                .slides {
                    width: 15000px;
                    margin-left: -920;
                }
                ul {
                    position: relative;
                    li {
                        position: relative;
                        display: inline-block;
                        width: 230px;
                        height: 230px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        opacity: 1;
                        .slide_title {
                            position: absolute;
                            background-repeat: no-repeat;
                            background-size: contein;
                        }
                    }
                }
            }
        }
    }
    .brands {
        margin-top: 65px;
        #slider-brands {
            margin-top: 10px;
            #slider-brands-viewport {
                font-size: 0;
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                width: 920px;
                .slides {
                    width: 15000px;
                    margin-left: -920;
                }
                ul {
                    position: relative;
                    li {
                        position: relative;
                        display: inline-block;
                        width: 230px;
                        height: 230px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        .slide_title {
                            position: absolute;
                            background-repeat: no-repeat;
                            background-size: contein;
                        }
                    }
                }
            }
        }
    }
    
}
.img-a {
    width:126px;
    height:97px;
    background-image: url('/templates/corporate/images/a_a.png');
    
}
.img_distribution {
    width:126px;
    height:95px;
    background-image: url('/templates/corporate/images/a_distribution.png');
}
.a-license {
    width:126px;
    height:89px;
    background-image: url('/templates/corporate/images/a_license.png');
}
.img-special {
    width:126px;
    height:95px;
    background-image: url('/templates/corporate/images/a_special.png');
}
.setka {
    background:url('/templates/corporate/images/setka.png') no-repeat center center;
    padding:50px;
    position:relative;
    min-height:400px;
    margin-top:100px;
    &>a{
        display:block;
        position:absolute;
        font-weight:700;
        width:370px;
        text-decoration:none;
        color:#2a2a2a;
            
        &>div{
            padding-left:150px;
            span{
                text-transform:uppercase;
                font-size:22px;
                display:block;
                margin-bottom:10px;
            }
            p{
                font-size:13px;
                color:#818181;
            }
        }
        .img {
                position: absolute;
                display: block;
                padding: 0;
                background-repeat: no-repeat;
                background-size: contain;
            }
        
    }
    a.one{
        top:0;
        left:400px;
    }
    a.two{
        top:100px;
        left:50px;
    }
    
    a.three{
        top:190px;
        right:0px;
    }
    
    a.four{
        bottom:100px;
        left:150px;
    }
}


.setka.special {
    background:url('/templates/corporate/images/setka-spec.png') no-repeat center center;
    margin-left: -56px;
    margin-top: 34px;
    .img_distribution,.img-special,.a-license,.img-a {
        width: 73px;
    }
    

    a>div.t {
        padding-left: 85px;
        width:150px;
        color:#2e2e2e;
        margin-top: 4px;
        span {
            font-size:17px;
        }
    }
    a.one {
        top: 6px;
        left: 409px;
    }
    a.two {
        top: 32px;
        right: -15px;
        left: auto;
    }
    
    a.three {
        top: 105px;
        right: -134px;
    }
    
    a.four {
        top: 206px;
        left: auto;
        right: -163px;
    }
    
    a.five {
        top: 309px;
        right: -37px;
    }
    
    a.six {
        top: 365px;
        right: 185px;
    }
    
    a.seven {
        top: 344px;
        right: 417px;
    }
    
    a.eight {
        top: 257px;
        right: 525px;
    }
    a.nine {
        top: 151px;
        right: 541px;
    }
    a.ten {
        top: 47px;
        right: 456px;
    }
    p {
        font-size: 100px;
        font-weight: bold;
        color: #b8b8b8;
        position: absolute;
        left: 380px;
        top: 140px;
    }
    
}
.speclist {
    padding-left: 70px;
    padding-top: 8px;
    margin-bottom: 78px;
    p {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        margin-left: 18px;
        margin-bottom: 45px;
        color: #6f6e6e;
    }
}
.specpre1:before {
    content: ' ';
    position: absolute;
    top: -21px;
    left: -74px;
    background: url('/templates/corporate/images/triangle-small.png');
    width: 49px;
    height: 40px;
}
.specpre2:before {
    content: ' ';
    position: absolute;
    top: -21px;
    left: -74px;
    background: url('/templates/corporate/images/sector-small.png');
    width: 55px;
    height: 41px;
}
.specpre3:before {
    content: ' ';
    position: absolute;
    top: -21px;
    left: -74px;
    background: url('/templates/corporate/images/triangle2-small.png');
    width: 43px;
    height: 43px;
}

.footer{
    //margin-top:40px;
    position: absolute;
    bottom: -270px;
    min-height:230px;
    background:#3eaab6 url('/templates/corporate/images/footer_back.png') repeat-x top;
    //margin-top:5px;
    //margin-top: -190px;
    width:100%;
    .logo{ 
        width:113px;
        height:113px;
        background: url('/templates/corporate/images/footer_logo0+.png') center center no-repeat;
        display: inline-block;
        margin: 0!important;
    }
    .menu-box{
        display:inline-block;
        vertical-align:top;
        ul{
            padding:0;
            margin:0;
            list-style:none;
            margin-left: 20px;
            li{
                max-width:90px;
                display:inline-block;
                color:#FFF;
                vertical-align: top;
                margin-top:43px;
                margin-right:10px;
                a{
                    color:#FFF;
                    text-decoration:none;
                    font-size:13px;
                }
            }
        }
    }
    .contacts{
        float: right;
        margin-top:30px;
        & > div {
            margin-right: 12px;
            .phone {
                font-size: 30px;
            }
            a {
                display: block;
                color:#FFF;
                font-weight: 600;
                font-size: 23px;
                text-decoration: none !important;
            }
        }
    }
    .banners {
        display: block;
        margin-top:10px;
        p {
            color: #FFF;
            font-size: 13px;
            margin: 0 0 10px 10px;
        }
        .vgtrk{
            margin-left:10px;
            margin-right:20px;
        }
    }
    .cat {
        position: absolute;
        background-image: url('/templates/corporate/images/kot.png');
        background-repeat: no-repeat;
        background-size: cover;
        width:141px;
        height:190px;
        z-index: 2;
        top: -115px;
        right: -145px;
    }
}

/*----carusel----*/
.ani-logo {
    background-image: url('/templates/corporate/images/ani-logo-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 230px;
    position: relative;
    div {
        background-image: url('/templates/corporate/images/ani-logo.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 137px;
        height: 64px;
        position: absolute;
        left: 327px;
        top: 63px;
        display: none;
    }
}
.mama-logo {
    background-image: url('/templates/corporate/images/mama-logo-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 230px;
    position: relative;
    div {
        background-image: url('/templates/corporate/images/mama-logo.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 249px;
        height: 46px;
        position: absolute;
        left: 327px;
        top: 63px;
        display: none;
    }
}
.carusel-logo {
    background-image: url('/templates/corporate/images/4mult_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 231px;
    position: relative;
    div {
        background-image: url('/templates/corporate/images/slider_title_mult.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        height: 50px;
        position: absolute;
        left: 327px;
        top: 63px;
        display: none;
    }
}
.links {
    text-transform: uppercase;
    margin-top: 11px;
    min-height: 1px;
    a {
        margin-right: 17px;
        span {
            font-size: 16px;
        }
    }
    a:last-child span {
        font-size: 18px;
    }
    & > :last-child {
        float: right;
        margin-right: 0;
        text-transform: lowercase;
    }
}

.links2 {
    text-transform: uppercase;
    margin-top: 11px;
    min-height: 1px;
    a {
        span {
            font-size: 16px;
        }
    }
    a:last-child span {
        font-size: 18px;
    }
    & > :last-child {
        float: right;
        margin-right: 0;
        text-transform: lowercase;
    }
}
.crtext {
    margin-top: 38px!important;
}
.channel-ul {
    font-size: 16px;
    font-weight: 700;
    color: #6E6E6E;
    margin-top: 27px;
    ul {
        //line-height: 39px;
        li {
            line-height: 24px;
            p {
                margin-top: 20px;
            }
            list-style: none;
            margin-left: 41px;
            position: relative;
        }
        li:before {
            content: ' ';
            position: absolute;
            top: 5px;
            left: -41px;
            background: #AEACAD;
            width: 16px;
            height: 16px;
            border-radius: 4px;
        }
    }
    .footnote {
        font-size: 13px;
        font-weight: normal;
        margin-top: 16px;
    }
}
.contact-info {
    margin-bottom: 70px;
    color: #6f6e6e;
    p:last-child {
        margin-top: 12px;
    }
    .phone {
        cursor: default;
        text-decoration: none;
        color: #6f6e6e;
        font-size: 16px;
    }
}
.text-channel-red {
    color: #C13B54;
    font-size: 21px;
}
.triangle-small {
    background-image: url('/templates/corporate/images/triangle-small.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 49px;
    height: 40px;
}
.triangle2-small {
    background-image: url('/templates/corporate/images/triangle2-small.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 43px;
    height: 43px;
}
.sector-small {
    background-image: url('/templates/corporate/images/sector-small.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 41px;
}
.text-middle-gray {
    color: #A4A4A4;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
}
.video {
    margin-bottom: 51px;
    margin-top: 38px;
    font-size: 0;
    p {
        margin-bottom: 10px;
    }
    & > div {
        display: inline-block;
        width: 100%;
        height: 525px;
        iframe {
            width: 100%; 
            height: 100%;
        }
    }
}
.video2 {
    display: none;
}
.left-column{
    margin-bottom:40px;
    .video{
        height: 455px;
        margin-bottom:40px;
        >div{
            height: 455px;
            display: block;
            width: 287px;
            float:right;
            div{
                margin-bottom: 30px;
            }
            
            div:last-child{
                margin-bottom: 0;
            }
        }
        .big-vid{
            display: inline-block;
            width: 605px; 
            height: 455px;
            vertical-align:top;
            float: left;
            
            padding:0;
            margin:0;
        }
        .one,.two,.three{
            height: 212px;
            width: 287px;
            cursor:pointer;
            background-color: #f0f0f0;
            background-size: cover;
            background-position: center center;
            &:hover{
                opacity:0.9;
            }
        }
    }
}
.mult_small {
    width: 125px;
    height: 27px;
}
.mama_small {
    width: 130px;
    height: 24px;
}
.carusel_small {
    width: 123px;
    height: 46px;
}
.ani_small {
    width: 69px;
    height: 33px;
}
.arcadiy_small {
    width: 120px;
    height: 87px;
}
.mishki_small {
    width: 117px;
    height: 49px;
}
.papers_small {
    width: 98px;
    height: 97px;
}
.magiclight_small {
    width: 125px;
    height: 89px;
}
.sideBar {
    position: absolute;
    top: 170px;
    margin-left: -166px;
    //margin-left: -190px;
    width: 113px;
    //text-align: right;
    font-size: 13px;
    font-weight: 700;
    background: #F2F2F2;
    border-radius: 10px;
    padding: 25px 0px 33px 13px;
    p {
        //text-align: right;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #9a9a9a;
    }
    .clear {
        margin-bottom: 26px;
        display: block;
    }
    ul {
        margin-top: 15px;
        li {
            list-style-type: none;
            margin-top: 7px;
            display: block;
            a {
                
                text-transform: uppercase;
                text-decoration: none;
                color: #2a2a2a;
            }
            a:hover {
                color: #00acb8;
            }
        }
    }
    .mult_small {
        margin-top: 14px;
        width: 90px!important;
        height: 20px!important;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mama_small {
        margin-top: 15px;
        width: 90px!important;
        height: 17px!important;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .carusel_small {
        margin-top: 13px;
        width: 92px!important;
        height: 34px!important;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .ani_small {
        margin-top: 7px;
        margin-right: 2px;
        width: 52px!important;
        height: 24px!important;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .arcadiy_small {
        margin-top: 6px;
        width: 88px!important;
        height: 64px!important;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mishki_small {
        margin-top: 9px;
        width: 87px!important;
        height: 36px!important;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .papers_small {
        margin-top: 6px;
        width: 72px!important;
        height: 71px!important;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .magiclight_small {
        margin-top: 5px;
        margin-right: -3px;
        width: 92px!important;
        height: 66px!important;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
/*----distribution----*/
.arcadiy {
    background-image: url('/templates/corporate/images/ap-label.png');
    background-size: contain;
    background-repeat: no-repeat;
    //width: 257px;
    //height: 189px;
    width: 288px;
    height: 211px;
    top: 55px;
    left: 20px;
}
.mimimishki {
    background-image: url('/templates/corporate/images/mimimi-label.png');
    background-size: contain;
    background-repeat: no-repeat;
    //width: 281px;
    //height: 125px;
    width: 334px;
    height: 148px;
    top: 90px;
    left: 25px;
}
.papers {
    background-image: url('/templates/corporate/images/ppr-label.png');
    background-size: contain;
    background-repeat: no-repeat;
    //width: 172px;
    //height: 172px;
    width: 204px;
    height: 204px;
    top: 53px;
    left: 50px;
}
.ap {
    background-image: url('/templates/corporate/images/ap.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 277px;
    height: 292px;
    top: 4px;
    left: 42px;
    position: absolute;
}
.girl {
    background-image: url('/templates/corporate/images/girl.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 145px;
    height: 196px;
    top: 88px;
    left: 644px;
    position: absolute;
}
.boy {
    background-image: url('/templates/corporate/images/boy.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 108px;
    height: 156px;
    top: 76px;
    left: 816px;
    position: absolute;
}
.bear-brown {
    background-image: url('/templates/corporate/images/bear-brown.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 146px;
    height: 204px;
    top: 59px;
    left: 122px;
    position: absolute;
}
.bear-white {
    background-image: url('/templates/corporate/images/bear-white.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 117px;
    height: 151px;
    top: 86px;
    left: 648px;
    position: absolute;
}
.chicken {
    background-image: url('/templates/corporate/images/chicken.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 61px;
    height: 91px;
    top: 90px;
    left: 820px;
    position: absolute;
}
.rabbit {
    background-image: url('/templates/corporate/images/rabbit.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 134px;
    height: 193px;
    top: 76px;
    left: 31px;
    position: absolute;
}
.bird {
    background-image: url('/templates/corporate/images/tyk2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 145px;
    height: 140px;
    top: 32px;
    left: 166px;
    position: absolute;
}
.olen {
    background-image: url('/templates/corporate/images/deer.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 256px;
    top: 29px;
    left: 633px;
    position: absolute;
}
.distribution-imgs {
    .arcadiy {
        width: 257px;
        height: 189px;
    }
    .mimimishki {
        width: 281px;
        height: 125px;
    }
    .papers {
        width: 172px;
        height: 172px;
    }
}

.mediakit {
    padding-top: 10px;
    position: absolute;
    top: 161px;
    left: 770px;
    font-weight: 700;
}
.title-big {
    margin-top: 30px;
}
.text p {
    margin-top: 18px;
}
.projects {
    margin-top: 25px;
    p {
        //font-size: 24px;
    }
    & > div {
        display: table;
        margin-top: 30px;
        font-size: 0;
        & > div {
            display: inline-block;
            width: 307px;
            height: auto;
            vertical-align: top;
            font-size: 0;
            p {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 700;
                width: 280px;
                margin: 0 auto;
                text-align: center;
                color: #6f6e6e;
            }
            div {
                margin: 0 auto;
            }
            .arcadiy {
                margin-top: 10px;
            }
            .mimimishki {
                margin-top: 45px;
            }
            .papers {
                margin-top: 28px;
            }
        }
    }
    .clear {
        width: 100%;
        height: 0;
        margin: 0;
    }
    div.list{
        margin-left: 28px;
        width: 100%;
    }
    ul {
        margin-top: 40px;
        display: inline-block;
        vertical-align: top;
        width:33%;
        li {
            list-style-type: none;
            margin-top : 9px;
            margin-left: 40px;
            position: relative;
            span {
                text-transform: uppercase;
                font-size: 16px;
                font-weight:bold;
                color: #6f6e6e;
                margin-left: 15px;
                display:block;
            }
        }
        li:before {
            content: ' ';
            background-image: url('/templates/corporate/images/small_tre.png');
            width: 25px;
            height: 21px;
            position: absolute;
            left: -26;
            top: 50%;
            margin-top: -12px;
        }
    }
    & > p:last-child {
        font-size: 16px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

/*----license----*/
.projects-license {
    margin-top: 30px;
    p {
        font-size: 28px;
    }
    .text-blue {
        font-size: 24px;
        margin-top: 30px;
    }
    /*.title-big {
        font-size: 33pt;
    }
    .mediakit {
        position: absolute;
        left: 763px;
        top: 162px;
        font-size: 14px;
        font-weight: 700;
    }
    .text {
        margin-top: 20px;
    }*/
    & > div {
        margin-top: 30px;
        display: block;
        & > div {
            width: 100%;
            font-size: 0;
            position: relative;
            a {
                position: absolute;
                top: 260px;
                left: 783px;
                font-size: 16px;
            }
            p {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 700;
                width: auto;
                margin: 0 auto;
                text-align: center;
                color: #3EAAB6;
            }
            div {
                margin: 0 auto;
            }
            .arcadiy {
                margin-top: 20px;
            }
            .mimimishki {
                margin-top: 45px;
            }
            .papers {
                margin-top: 19px;
            }
        }
        & > div:first-child {
            margin-top: 30px;
        }
        & > div:last-child {
            margin-top: 99px;
        }
        & > div:nth-child(2) {
            margin-top: 61px;
        }
    }
    
    ul {
        margin: 24px 74px 0px 25px;
        display: inline-block;
        li {
            list-style-type: none;
            margin-top : 9px;
            position: relative;
            span {
                text-transform: uppercase;
                font-size: 16px;
                font-weight:bold;
                color: #6f6e6e;
                margin-left: 15px;
                display:block;
            }
        }
        li:before {
            content: ' ';
            background-image: url('/templates/corporate/images/small_tre.png');
            width: 25px;
            height: 21px;
            position: absolute;
            left: -26;
            top: 50%;
            margin-top: -12px;
        }
    }
    & > p:last-child {
        font-size: 18px;
        margin-top: 46px;
        margin-bottom: 54px;
        font-weight: normal;
        line-height: 1.35;
        color: #6f6e6e;
        span {
            margin-top: 10px;
            display: block;
        }
    }
}
/*----contacts----*/
.YMaps-b-balloon-close {
    top: 15px;
}
.contacts-page {
    //margin-bottom: 200px;
    div {
        display: inline-block;
        margin-top: 9px;
    }
    iframe {
        width: 922px; 
        height: 450px; 
    }
    .contacts-map {
        margin-top: 16px;
        width: 922px; 
        height: 450px; 
    }
    .address {
        width: 520px;
        color: #909090;
        font-weight: 700;
        p {
            margin-top:20px;
            & > span:first-child {
                text-transform: uppercase;
            }
            & > span:last-child {
                //font-size: 17px;
            }
        }
        
    }
    .tel {
        text-transform: uppercase;
        color: #909090;
        font-weight: 700;
        float:right;
        p {
            & > span:first-child {
                font-size: 12px;
            }
            a {
                text-decoration: none;
                color: #909090;
                font-size: 24px;
            }
            & > span:last-child {
                font-size: 24px;
            }
        }
        p:last-child {
            margin-top: 3px;
            a {
                text-decoration: none;
                font-size: 20px;
                text-transform: none;
                color: #3EAAB6;
            }
        }
    }
    .title-big {
        font-size: 24px;
        margin-top: 36px;
    }
}
/*----arkadij----*/
.ppr-logo {
    background-image: url('/templates/corporate/images/ppr-logo-back.png');
    div {
        background-image: url('/templates/corporate/images/ppr-label.png');
        top: 11px;
        left: 374px;
        width: 204px;
        height: 204px;
    }
}
/*----arkadij----*/
.ap-logo {
    background-image: url('/templates/corporate/images/ap-logo-back.png');
    div {
        background-image: url('/templates/corporate/images/ap-logo2.png');
        top: 8px;
        left: 309px;
        width: 287px;
        height: 211px;
    }
}
/*----mimimishki----*/
.mimimishki-logo {
    background-image: url('/templates/corporate/images/mimimi-logo-back.png');
    div {
        background-image: url('/templates/corporate/images/mimimi-logo2.png');
        left: 297px;
        top: 35px;
        width: 326px;
        height: 143px;
    }
}
.serial-logo {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 231px;
    position: relative;
    margin-top: 35px!important;
    div {
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
    }
}
.mimimishki-content {
    font-size: 0;
    .text {
        font-size: 18px;
        margin-top: 25px;
        color: #6f6e6e;
        line-height: 1.35;
        font-weight: normal;
    }
    .title-big {
        font-size: 42px;
        margin-top: 46px;
    }
}
.left-column {
    display: inline-block;
    width: 100%;
    //margin-top: 10px;
    margin-top: 20px;
    vertical-align: top;
    a.link {
        margin-top: 24px;
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
    }
}
.blank {
    position: relative;
    background: #f0f0f0;
    border-radius:20px;
    width: 302px;
}
.mult {
    background-repeat: no-repeat;
    background-size: contain;
    width: 166px;
    height: 42px;
    margin: 26px 0 0 72px;
}
.carusel {
    background-repeat: no-repeat;
    background-size: contain;
    width: 173px;
    height: 68px;
    margin: 12px 0 0 70px;
}
.right-column {
    float: right;
    vertical-align: top;
    font-size: 14px;
    position: relative;
    .blank {
        margin-left: 25px;
        //margin-top: 30px;
        margin-top: 20px;
    }
    .text-card {
        height: auto;
        background: none;
        padding: 22px;
        p {
            font-size: 17px;
            margin-bottom: 6px;
        } 
        a{
            font-size:16px;
            text-transform:uppercase;
        }
    }
    & > p {
        margin: 51px 0px 0px 70px;
        font-size: 26px;
    }
    .cl1 {
        margin: 38px 0px 0px 86px;
    }
    #slider-small1 {
        margin: 15px 0 0 15px;
    }
    #slider-small2 {
        margin: 22px 0 0 15px;
    }
    .slider-small {
        font-size: 0;
        width: 300px;
        margin: 0 auto;
        & > div {
            display: inline-block;
        }
        .slider-arrow-left, .slider-arrow-right {
            background-image: none;
            width: 0;
            height: 0;
        }
        .slider-viewport {
            font-size: 0;
            position: relative;
            overflow: hidden;
            border-radius: 20px;
            overflow: hidden!important;
            width: 231px!important;
            .slides {
                width: 15000px;
                margin-left: -920;
            }
            ul {
                position: relative;
                li {
                    background-image: none!important;
                    height: 84px!important;
                    position: relative;
                    display: inline-block;
                    width: 230px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    opacity: 1;
                    .slide_title {
                        position: absolute;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }
            
            
            .slide1 .slide_title {
                top: 25px;
            }
            .slide2 .slide_title {
                top: 25px;
            }
            .slide3 .slide_title {
                top: 10px;
            }
            .slide4 .slide_title {
                top: 20px;
            }
        }
        
        
        .parrot {
            display: none;
        }
        .slider-arrow-left-black {
            position: relative;
            background-image: url('/templates/corporate/images/slider_arrow_right_black.png')!important;
            width: 34px;
            height: 43px;
            vertical-align: top;
            margin-top: 32px;
        }
        .slider-arrow-right-black {
            position: relative;
            background-image: url('/templates/corporate/images/slider_arrow_left_black.png')!important;
            width: 34px;
            height: 43px;
            vertical-align: top;
            margin-top: 32px;
        }
    }
    .slider-products {
            margin: -4px 0 0 15px!important;
            .slider-products-iside .slide {
                height: 245px!important;
                .slide_title {
                    height: 226px!important;
                }
            }
            .slider-arrow-right-black {
                margin-top: 121px;
            }
            .slider-arrow-left-black {
                margin-top: 121px;
            }
        }
}


/*  @media-query */

@media screen and (max-width: 352px){}
@media screen and (max-width: 480px){}
@media screen and (max-width: 720px){}
@media screen and (max-width: 860px){}

//http://webformyself.com/texniki-adaptivnoj-tipografskoj-razmetki-teksta/




/* Smartphones (portrait and landscape) ----------- */
@media only screen 
//and (min-device-width : 0px) 
and (max-device-width : 750px) {
    html,body{
        font-size:100%;
    }
    .layout {
        margin:0px;
        width:100%;
        overflow: hidden;
        
        .godown {
            margin-top: 385px;
        }
        .goup {
            margin-top: 30px;
        }
        .phone {
            margin-top: -20!important;
        }
        .hidden {
            display: none!important;
        }
        .visible{
            display: block!important;
        }
        .slider-arrow-left, .slider-arrow-right {
            background-image: none;
            width: 0;
            height: 0;
        }
        .logo {
            width: 89px;
            height: 85px;
            background-size: cover;
            margin-left: 10px;
            display: inline-block;
        }
        #buffer {
            display: inline-block;
            width: 55%;
        }
        #sandwich {
            background-image: url('/templates/corporate/images/sandwich.png')!important;
            width: 36px!important;
            height: 29px!important;
            margin-right: 10px;
            display: block;
            float:right;
            //position: absolute!important;
            vertical-align: top;
            right:0;
        }
        .menu-box{
            width: 100%;
            margin: 0;
            #menu1 {
                display: block;
                width: 100%;
                text-transform: uppercase;
                text-align: center;
                top: 0px;
                div {
                    display: none!important;
                }
                li {
                    display: block;
                    width: 100%;
                    height: 50px;
                    margin: 0;
                    background-color: #d8d8d8;
                    border-bottom: 2px solid #fff;
                    a {
                        display: block;
                        text-decoration: none;
                        color: #2a2a2a;
                        height: 100%;
                        span {
                            padding-top: 17px;
                            display: block;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    .title-big{
        //font-size:2.2em;
        font-size: 24px!important;
    }
    .cat {
        display: none;
    }
    .content .text {
        //font-size: 1em;
        font-weight: normal!important;
        padding: 10px;
    }
    .text {
        margin-top: 20px!important;
    }
    .channels {
        margin-top: 10px!important;
        #slider-channels {
            font-size: 0;
            width: 300px;
            margin: 0 auto;
            & > div {
                display: inline-block;
            }
            #slider-channels-viewport {
                overflow: hidden!important;
                width: 231px!important;
                li {
                    background-image: none!important;
                    height: 120px!important;
                }
                .slide1 .slide_title {
                    top: 25px;
                }
                .slide2 .slide_title {
                    top: 25px;
                }
                .slide3 .slide_title {
                    top: 10px;
                }
                .slide4 .slide_title {
                    top: 20px;
                }
            }
            .parrot {
                display: none;
            }
            .slider-arrow-left-black {
                position: relative;
                background-image: url('/templates/corporate/images/slider_arrow_right_black.png')!important;
                width: 34px;
                height: 43px;
                vertical-align: top;
                margin-top: 32px;
            }
            .slider-arrow-right-black {
                position: relative;
                background-image: url('/templates/corporate/images/slider_arrow_left_black.png')!important;
                width: 34px;
                height: 43px;
                vertical-align: top;
                margin-top: 32px;
            }
        }
    }
    .brands {
        margin-top: 10px!important;
        #slider-brands {
            font-size: 0;
            width: 300px;
            margin: 0 auto;
            & > div {
                display: inline-block;
            }
            #slider-brands-viewport {
                overflow: hidden!important;
                width: 231px!important;
                li {
                    background-image: none!important;
                    height: 140px!important;
                }
                .slide5 .slide_title {
                    top: 5px;
                }
                .slide6 .slide_title {
                    top: 25px;
                }
                .slide7 .slide_title {
                    top: 0px;
                }
                .slide8 .slide_title {
                    top: 15px;
                }
            }
            .slider-arrow-left-blackb {
                background-image: url('/templates/corporate/images/slider_arrow_right_black.png')!important;
                width: 34px;
                height: 43px;
                vertical-align: top;
                margin-top: 52px;
                position: relative;
            }
            .slider-arrow-right-blackb {
                background-image: url('/templates/corporate/images/slider_arrow_left_black.png')!important;
                width: 34px;
                height: 43px;
                vertical-align: top;
                margin-top: 52px;
                position: relative;
            }
        }
    }
    .setka{
        //padding:10px;
        padding:0px;
        background: none;
        height: auto;
        width: 300px;
        margin: 10 auto;
        & > a {
            position: initial;
            margin-top: 40px;
            width: 100%;
            & > div {
                position: relative!important;
                display: inline-block!important;
                top: auto!important;
                left: auto!important;
                right: auto!important;
                bottom: auto!important;
                span {
                    font-size: 1.1em!important;
                }
            }
            & > :last-child {
                display: inline-block;
                padding-left: 0px;
                width: 50%;
                margin-left: 10px;
                vertical-align: top;
                float: right;
            }
        }
    }
    
    .footer {
        margin-top: 30px;
        min-height:190px;
        .layout {
            margin: 0px;
            .cat {
                display: none;
            }
            .logo {
                width: 88px;
                margin-top: 20px;
            }
            .contacts {
                margin: 50px 10px 0px 0px;
                font-size: 15px;
                & > div {
                    float: right;
                    margin-right: 12px;
                    .phone {
                        font-size: 1.25em;
                    }
                    .email{
                        font-size: 1em;
                    }
                    a {
                        display: block;
                        color:#FFF !important;
                        font-weight: 700;
                        font-size: 15px;
                        text-decoration: none !important;
                    }
                }
                }
            .menu-box {
                display: none;
            }
            .banners {
                margin: 20px 0px 0px 10px;
                .vgtrk {
                    margin-left: 0px;
                }
            }
            .phone{
                font-size:1.3em!important;
                margin-bottom:10px;
            }
            .email{
                font-size:1.04em!important;
            }
        }
    }
    
    h1.caption{
        font-size: 28pt;
    }
    
    .setka.special{
        p{
            display:none;
        }
    }
    .setka.special {
        background: none;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .setka.special a > div.t {
        padding-left: 10px;
        /* width: 80%; */
        color: #2e2e2e;
        margin-top: 10px;
        position: absolute!important;
    }
    
    .listTre{
        margin-left: 10px!important;
    }
    
    .phone {
    }
    .sideBar{
        display:none;
    }
    .serial-logo {
        background: none;
        height: 150px;
        div {
            top: 0;
            left: 0;
            position: relative;
            margin: 0 auto;
            display: block;
            width: 250px;
            height: 143px;
        }
    }
    .ap-logo div {
        width: 210px;
    }
    .ppr-logo div {
        width: 150px;
    }
    /*----carusel----*/
    .ani-logo {
        background: none;
        height: 85px;
        div {
            top: 0;
            left: 0;
            position: relative;
            margin: 0 auto;
            display: block!important;
        }
    }
    .mama-logo {
        background: none;
        height: 50px;
        div {
            top: 0;
            left: 0;
            position: relative;
            margin: 0 auto;
            display: block!important;
        }
    }
    .carusel-logo {
        background: none;
        height: 50px;
        div {
            top: 0;
            left: 0;
            position: relative;
            margin: 0 auto;
            display: block;
        }
    }
    .links {
        padding: 0px 10px 0px 10px;
        span {
            font-size: 10px!important;
        }
    }
    .channel-ul {
        padding-left: 10px;
    }
    .contact-info {
        padding-left: 10px;
    }
    .video {
        display: block;
        .big-vid {
            display: block;
            width: 95%;
            height: 250px;
            margin: 0 auto;
            iframe {
                width: 100%;
                height: 250px;
            }
        }
        
    }
    
    
    
    .sideBar {
        display: none!important;
    }
    
    /*----distribution----*/
    .mediakit {
        display: none;
    }
    .projects {
        p {
            margin-left: 10px;
            
        }
        & > p:first-child {
            font-size: 18px;
        }
        & > div {
            display: block!important;
            & > div {
                display: block!important;
                width: auto;
                height: auto;
                margin-top: 20px;
                div {
                    margin-top: 0!important;
                }
            }
        }
        ul {
            margin: 0;
            display: block;
            width: 100%;
            li {
                margin-left: 0;
            }
        }
        .list {
            margin-top: 30px;
            margin-left: 40px!important;
        }
    }
    /*----license----*/
    .projects-license {
        .text-blue {
            margin-left: 10;
            font-size: 12px;
        }
        ul {
            margin: 0px 50px 0px 43px;
            span {
                font-size: 14px!important;
            }
        }
        & > p:last-child {
            margin-left: 10px;
        }
        & > div div div {
            display: none;
        }
        .arcadiy {
            display: block;
        }
        .mimimishki {
            display: block;
            width: 310px;
        }
        .papers {
            display: block;
        }
        .clear {
            margin-top: 10px!important;
        }
    }
    
    /*----contacts----*/
    .contacts-page {
        margin-bottom: 20px;
        div {
            display: block;
            width: 100%!important;
            padding-left: 10px;
            margin-top: 15px;
            margin-bottom: 0px!important;
            font-size: 12px;
            span {
                display: block;
            }
        }
        .address {
            width: 71%;
            color: #909090;
            font-weight: 700;
            p {
                /*& > span:first-child {
                    text-transform: uppercase;
                }*/
                & > span:last-child {
                    font-size: 14px;
                }
            }
            
        }
        iframe {
            width: 100%; 
            height: 250px; 
        }
        .contacts-map {
            padding-left: 0!important;
            width: 100%; 
            height: 250px; 
        }
        .tel {
            margin-bottom: 20px!important;
            /*text-transform: uppercase;
            color: #909090;
            font-weight: 700;
            p {
                & > span:first-child {
                    font-size: 12px;
                }
                a {
                    text-decoration: none;
                    color: #909090;
                    font-size: 24px;
                }
                & > span:last-child {
                    font-size: 24px;
                }
            }*/
            p:last-child {
                margin-top: 15px;
            }
        }
        /*.title-big {
            font-size: 24px;
            margin-top: 36px;
        }*/
    }
    /*----mimimishki----*/
    .mimimishki-content {
        .title-big  {
            text-align: center!important;
        }
    }
    .left-column {
        display: block;
        width: 100%;
        & > a {
            margin-left: 10px;
        }
    }
    .left-column{
        .video {
            div{
                float:none;
                width:auto;
                height:auto;
            }
            div.big-vid{
                height:auto!important;
            }
            div.big-vid, div div{
                display:block;
                width:100%;
                height:200px;
                padding:0;
                margin:0;
                margin-top:20px;
                float: none;
            }
            
        }
    }
    .right-column {
        display: block;
        width: 100%;
        margin-bottom:40px;
        & > div {
            margin: 0 auto!important;
            margin-top: 20px!important;
        }
        & > p {
            margin: 0!important;
            text-align: center;
            margin-top: 20px!important;
        }
        .slider-products {
            margin: 0 auto!important;
        }
    }
}

 
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}
 
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 400px) {
/* Styles */
    .contacts-page iframe {
        width: 100%; 
        height: 200px; 
    }
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen 
//and (min-device-width : 481)
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .clear {
        display: inline-block;
        position: absolute;
        clear: none;
        width: 0px;
        height: 0px;
    }
    .setka {
        background: none;
        margin: 0;
        min-height: 250px;
        & > a {
            display: inline-block!important;
            position: relative!important;
            width: 50%;
            top: auto!important;
            left: auto!important;
            right: auto!important;
            bottom: auto!important;
            margin-bottom: 25px;
            float: left;
            & > div {
                display: inline-block!important;
                span {
                    vertical-align: top;
                }
                p {
                    width: 85%!important;
                    padding-left: 0!important;
                }
            }
            :last-child {
                width: 65%;
                padding-left: 10px;
            }
            .img {
                position: relative!important;  
                vertical-align: top;
            }
        }
        .specIpad {
            display: block;
            clear: both;
            position: relative;
        }
        
    }
    .cat {
        display: none;
    }
    .parrot {
        display: none!important;
    }
    .channels,.brands{
        margin-top:10px;
    }
    
    .setka.special{
        p{
            position: relative!important;
        }
        p.degre{
            display:none!important;
        }
    }
    
    .listTre{
        clear:both;
    }
    .sideBar {
        display: none!important;
    }
    .achievements {
        .text-card {
            width: 220px!important;
        }
        & > :nth-child(5) {
            margin-top: 50px;
        }
    }

}
 
/* iPads (landscape) ----------- */
@media only screen 
//and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */



}
 
/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
    html,body{
        font-size:100%;
    }
    .layout {
        margin:0px;
        width:100%;
        overflow: hidden;
        .godown {
            margin-top: 385px;
        }
        .goup {
            margin-top: 30px;
        }
        .hidden {
            display: none!important;
        }
        .visible{
            display: block!important;
        }
        .slider-arrow-left {
            left: 645px;
        }
        /*.slider-arrow-left, .slider-arrow-right {
            background-image: none;
            width: 0;
            height: 0;
        }*/
        .logo {
            width: 85px;
            height: 85px;
            background-size: cover;
            margin-left: 10px;
            display: inline-block;
        }
        #buffer {
            display: inline-block;
            width: 55%;
        }
        #sandwich {
            background-image: url('/templates/corporate/images/sandwich.png')!important;
            width: 36px!important;
            height: 29px!important;
            margin-right: 10px;
            display: block;
            float:right;
            //position: absolute!important;
            vertical-align: top;
            right:0;
        }
        .menu-box{
            width: 100%;
            margin: 0;
            #menu1 {
                display: block;
                width: 100%;
                text-transform: uppercase;
                text-align: center;
                top: 0px;
                div {
                    display: none!important;
                }
                li {
                    display: block;
                    width: 100%;
                    height: 50px;
                    margin: 0;
                    background-color: #d8d8d8;
                    border-bottom: 2px solid #fff;
                    a {
                        display: block;
                        text-decoration: none;
                        color: #2a2a2a;
                        height: 100%;
                        span {
                            padding-top: 17px;
                            display: block;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    .title-big{
        font-size:2.2em;
    }
    .cat {
        display: none;
    }
    .content .text {
        //font-size: 1em;
        font-weight: normal!important;
        padding: 10px;
    }
    .text {
        margin-top: 20px!important;
    }
    .channels {
        margin-top: 10px!important;
        #slider-channels {
            width: 700px;
            margin: 0 auto;
            & > div {
                display: inline-block;
            }
            #slider-channels-viewport {
                width: 690px!important;
            }
            /*#slider-channels-viewport {
                overflow: hidden!important;
                width: 231px!important;
                li {
                    background-image: none!important;
                    height: 120px!important;
                }
                .slide1 .slide_title {
                    top: 25px;
                }
                .slide2 .slide_title {
                    top: 25px;
                }
                .slide3 .slide_title {
                    top: 10px;
                }
                .slide4 .slide_title {
                    top: 20px;
                }
            }
            .parrot {
                display: none;
            }*/
            /*.slider-arrow-left-black {
                position: relative;
                background-image: url('/templates/corporate/images/slider_arrow_right_black.png')!important;
                width: 34px;
                height: 43px;
                vertical-align: top;
                margin-top: 32px;
            }
            .slider-arrow-right-black {
                position: relative;
                background-image: url('/templates/corporate/images/slider_arrow_left_black.png')!important;
                width: 34px;
                height: 43px;
                vertical-align: top;
                margin-top: 32px;
            }*/
        }
    }
    .brands {
        margin-top: 10px!important;
        #slider-brands {
            width: 700px;
            margin: 0 auto;
            & > div {
                display: inline-block;
            }
            #slider-brands-viewport {
                width: 690px!important;
                /*overflow: hidden!important;
                width: 231px!important;
                li {
                    background-image: none!important;
                    height: 140px!important;
                }
                .slide5 .slide_title {
                    top: 5px;
                }
                .slide6 .slide_title {
                    top: 25px;
                }
                .slide7 .slide_title {
                    top: 0px;
                }
                .slide8 .slide_title {
                    top: 15px;
                }*/
            }
            /*.slider-arrow-left-blackb {
                background-image: url('/templates/corporate/images/slider_arrow_right_black.png')!important;
                width: 34px;
                height: 43px;
                vertical-align: top;
                margin-top: 52px;
                position: relative;
            }
            .slider-arrow-right-blackb {
                background-image: url('/templates/corporate/images/slider_arrow_left_black.png')!important;
                width: 34px;
                height: 43px;
                vertical-align: top;
                margin-top: 52px;
                position: relative;
            }*/
        }
    }
    .setka {
        width: 708px!important;
        padding: 50px 30px 0px 30px!important;
        
        & > a {
            & > :last-child {
                padding-left: 0px;
                width: 63%;
            }
        }
    }
    
    /*.setka{
        //padding:10px;
        padding:0px;
        background: none;
        height: auto;
        width: 300px;
        margin: 10 auto;
        & > a {
            position: initial;
            margin-top: 40px;
            width: 100%;
            & > div {
                position: relative!important;
                display: inline-block!important;
                top: auto!important;
                left: auto!important;
                right: auto!important;
                bottom: auto!important;
                span {
                    font-size: 1.1em!important;
                }
            }
            & > :last-child {
                display: inline-block;
                padding-left: 0px;
                width: 50%;
                margin-left: 10px;
                vertical-align: top;
                float: right;
            }
        }
    }*/
    
    .footer {
        margin-top: 30px;
        min-height:190px;
        .layout {
            margin: 0px;
            .cat {
                display: none;
            }
            .logo {
                width: 88px;
                margin-top: 20px;
            }
            .contacts {
                margin: 30px 10px 0px 0px;
                font-size: 15px;
                & > div {
                    float: right;
                    margin-right: 12px;
                    .phone {
                        font-size: 1.25em;
                    }
                    .email{
                        font-size: 1em;
                    }
                    a {
                        display: block;
                        color:#FFF !important;
                        font-weight: 700;
                        font-size: 15px;
                        text-decoration: none !important;
                    }
                }
                }
            .menu-box {
                display: none;
            }
            .banners {
                margin: 20px 0px 0px 10px;
                .vgtrk {
                    margin-left: 0px;
                }
            }
            .phone{
                font-size:1.3em!important;
                margin-bottom:10px;
            }
            .email{
                font-size:1.04em!important;
            }
        }
    }
    
    .phone {
    }
    
    
    .sideBar{
        display:none;
    }
    
    /*---carusel---*/
    .ani-logo {
        background: none;
        height: 100px;
        div {
            top: 0;
            left: 310;
            display: block;
        }
    }
    .mama-logo {
        background: none;
        height: 100px;
        div {
            top: 0;
            left: 255;
            display: block;
        }
    }
    .carusel-logo {
        background: none;
        height: 100px;
        div {
            top: 0;
            left: 270;
            display: block;
        }
    }
    .links {
        padding: 0px 10px 0px 10px;
    }
    .channel-ul {
        padding-left: 10px;
    }
    .contact-info {
        padding-left: 10px;
    }
    .video {
        display: block;
        .big-vid {
            display: block;
            width: 95%;
            height: 410px;
            margin: 0 auto;
            iframe {
                width: 100%;
                height: 410px;
            }
        }
        
    }
    
    
/*----distribution----*/
    .mediakit {
        margin-right: 10px;
    }
    .projects {
        p {
            font-size: 28px;
            margin-left: 10px;
        }
        & > div {
            & > div {
                width: 255px;
            }
        }
        ul {
            margin-top: 50px;
            li {
                margin-left: 0;
            }
        }
        .list {
            margin-left: 40px!important;
        }
    }
    /*----license----*/
    .projects-license {
        .text-blue {
            margin-left: 10;
        }
        ul {
            margin: 10px 50px 0px 43px;
        }
        & > p:last-child {
            margin-left: 10px;
        }
        .ap {
            width: 215px;
            height: 292px;
            top: 4px;
            left: 16px;
        }
        .girl {
            width: 113px;
            height: 196px;
            top: 123px;
            left: 538px;
        }
        .boy {
            width: 98px;
            height: 156px;
            top: 76px;
            left: 652px
        }
        .bear-brown {
            width: 146px;
            height: 204px;
            top: 59px;
            left: 579px
        }
        .bear-white {
            width: 117px;
            height: 151px;
            top: 86px;
            left: 11px;
        }
        .chicken {
            width: 61px;
            height: 91px;
            top: 152px;
            left: 145px;
        }
        .rabbit {
            width: 134px;
            height: 193px;
            top: 76px;
            left: 31px;
        }
        .bird {
            width: 119px;
            height: 140px;
            top: 32px;
            left: 132px;
        }
        .olen {
            width: 110px;
            height: 256px;
            top: 29px;
            left: 579px;
        }
    }
    /*----mimimishki----*/
    .left-column {
        //display: block;
        width: 100%;
        padding-left: 10px;
        .right-column{
            float:none;
            .blank{
                margin: 0 auto;
            }
        }
        & > p {
            text-align: center;
        }
        .video {
            div{
                float:none;
                width:auto;
                height:auto;
            }
            div.big-vid{
                height:auto!important;
            }
            div.big-vid, div div{
                display:block;
                width:100%;
                height:200px;
                padding:0;
                margin:0;
                margin-top:20px;
            }
            
        }
    }
}



 
@media only screen 
and (max-width : 1224px) {
.clear {
        display: inline-block;
        position: absolute;
        clear: none;
        width: 0px;
        height: 0px;
    }
    .setka {
        background: none;
         
  margin-left: auto;
  margin-right: auto;
        & > div {
            display: inline-block!important;
            position: relative!important;
            width: 50%;
            top: auto!important;
            left: auto!important;
            right: auto!important;
            bottom: auto!important;
            margin-bottom: 25px;
            float: left;
            & > div {
                display: inline-block!important;
            }
            :last-child {
                width: 65%;
                padding-left: 10px;
            }
            .img {
                position: relative!important;
            }
            .img-a {
                margin-top: 22px;
            }
        }
        .specIpad {
            display: block;
            clear: both;
            position: relative;
        }
        
    }
    .cat {
        display: none;
    }
    .parrot {
        display: none;
    }
    .channels,.brands{
        margin-top:10px;
    }
}
 
/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}