include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                .brand-logo.ani-logo
                    div
                .links
                    // a(href="#")
                    //     span презентация pdf
                    // a(href="#")
                    //     span медиакит
                    a(href="http://www.ani.ru/" target="_blank")
                        span www.ani.ru
                .text.crtext
                    span.text-black.bold «ANI» 
                    span – это детское пространство, сказочный анимационный мир за телеэкраном, населенный любимыми героями и персонажами. 
                    p
                        span Основная аудитория телеканала: девочки 6 – 12 лет: сетка программы учитывает их интересы и особенности телесмотрения. При этом большая часть контента подходит для совместного просмотра с родителями.
                    p
                        span Ежедневно в эфире телеканала самые популярные хиты зарубежной анимации: «Смурфики», «Свинка Пеппа», «Angry Birds» и многие другие.
                    p
                        span Слоган канала: «ANI – твой собственный мир»
                .title-big «ANI» ЭТО:
                .channel-ul
                    ul
                        li
                            p
                                span.text-channel-red НОВИНКА: 
                                span ЗАПУСК В АВГУСТЕ 2015 ГОДА
                        li
                            p
                                span.text-channel-red БОЛЕЕ 700 ЧАСОВ ОРИГИНАЛЬНОГО КОНТЕНТА
                                span , ЗАПЛАНИРОВАННОГО К ПОКАЗУ В 2015г.
                        li
                            p
                                span.text-channel-red ЗНАЧИТЕЛЬНАЯ МАРКЕТИНГОВАЯ ПОДДЕРЖКА  
                                span КАНАЛА С ИСПОЛЬЗОВАНИЕМ МЕДИА-РЕСУРСОВ ВГТРК И ПАРТНЕРОВ.
                        li
                            p
                                span.text-channel-red ЯРКИЙ УНИКАЛЬНЫЙ СТИЛЬ 
                                span И ПРИВЛЕКАТЕЛЬНОЕ ДЛЯ ЗРИТЕЛЕЙ ОФОРМЛЕНИЕ КАНАЛА.
                .video
                    .big-vid
                        iframe(iframe width="95%" height="100%" src="https://www.youtube.com/embed/0rglGFIm8OA" frameborder="0" allowfullscreen)
                .contact-info
                    p 
                        span ПО ВОПРОСАМ МАРКЕТИНГА И КОНТЕНТА: 
                        a.email(href="mailto:sales@0plusmedia.ru") ANI@0PLUSMEDIA.RU
                        span ,
                        a.phone(href="tel:+74959887337") +7-495-988-73-37
                    p
                        span ПО ВОПРОСАМ ПОДКЛЮЧЕНИЯ И ТРАНСЛЯЦИИ КАНАЛА:  
                        a.email(href="mailto:contact@0plusmedia.ru") CONTACT@SIGNELMEDIA.RU
                        span ,
                        a.phone(href="tel:+74956209836") +7-495-620-98-36
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade