include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                .ap-content
                    .serial-logo.ap-logo
                        div
                    //.links2
                        span.hide ПРЕЗЕНТАЦИЯ  
                            a(href="#") PDF
                            |  /      
                            a(href="#") PPT
                        a(href="#")
                            span www.multkanal.ru
                    .left-column
                        .right-column
                            .blank
                                .text-card
                                    p Анимация: 
                                        span.text-blue.text-upper.text-bold 3D HD
                                    p Эпизоды: 
                                        span.text-blue.text-bold 80* 2:30 мин
                                    p Статус: 
                                        span.text-blue.text-bold в производстве
                                    p Дата запуска: 
                                        span.text-blue.text-bold 2012
                                    p Трансляция
                                        p.text-blue.text-bold 
                                        
                                            a(href="#") Мульт
                                            |  
                                            a(href="#") Карусель
                        p.text Проект «Аркадий Паровозов спешит на помощь» в простой и увлекательной форме учит всех маленьких зрителей правилам поведения в разных жизненных ситуациях, помогает избежать опасностей, которые подстерегают современного ребёнка на каждом шагу.
                        p.text Невероятные истории о бесконечных приключениях двух маленьких проказников, Маши и Саши.  Любое начинание брата и сестры – прогулка в парке, приготовление обеда, просмотр телевизор или поездка в метро – приводит к совершенно неожиданным последствиям.
                        p.text Аркадий Паровозов, российский супергерой, надежный друг и верных защитник маленьких шалунов!

                        .video.video-player
                            ul.hide
                                li 
                                    a(href="https://www.youtube.com/embed/K3T1JlSLxFI")
                                
                                li 
                                    a(href="https://www.youtube.com/embed/xzity-OT2gE")
                                
                                li 
                                    a(href="https://www.youtube.com/embed/I3qXQ0b6kik")
                                    
                            div.big-vid
                                iframe(iframe width="100%" height="100%" src="" frameborder="0" allowfullscreen)
                            div
                                div.one
                                div.two
                                div.three    
                        
                        p.text По вопросам приобретения видеоконтента «Аркадий Паровозов спешит на помощь»: 
                            br
                            a(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru
                            |  , +7-495-988-73-37
                        p.text Подробнее о дистрибуции контента 0+ MEDIA 
                            a(href="#") здесь
                            
                        p.title-big ЛИЦЕНЗИРОВАНИЕ БРЕНДА «АРКАДИЙ ПАРОВОЗОВ»
                        p.text Компания «0+ Media» представляет проект «Аркадий Паровозов» для лицензирования в следующий категориях потребительских товаров - одежда, обувь, игрушки, товары для дома, канцелярия, продукты питания и косметика, издательская продукция и т.д. 

                        p.text По вопросам приобретения лицензии на бренд «Аркадий Паровозов»: 
                            br
                            a(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru 
                            |  , +7-495-988-73-37

                        p.text Подробнее о Лицензионных возможностях 0+ MEDIA  
                            a(href="#") здесь
                            
                    
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  