include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                .mimimishki-content
                    .serial-logo.ppr-logo
                        div
                    //.links2
                        span.hide ПРЕЗЕНТАЦИЯ  
                            a(href="#") PDF
                            |  /      
                            a(href="#") PPT
                        a(href="#")
                            span www.multkanal.ru
                    .left-column
                        .right-column
                            .blank
                                .text-card
                                    p Анимация: 
                                        span.text-blue.text-upper.text-bold 3D HD
                                    p Эпизоды: 
                                        span.text-blue.text-bold 52* 5:30 min
                                    p Статус: 
                                        span.text-blue.text-bold в производстве
                                    p Дата запуска: 
                                        span.text-blue.text-bold 2015
                                    p Трансляция
                                        p.text-blue.text-bold 
                                        
                                            a(href="#") Мульт
                                            |  
                                            a(href="#") Карусель
                        p.text Проект «Бумажки» призывает всех юных зрителей отложить в сторону современные гаджеты, планшеты, мобильные телефоны и окунуться в жизнь двух главных героев, жителей бумажной страны: лося Аристотеля и дятла Тюк-Тюка. 
                        p.text Каждый новый эпизод рассказывает не только об увлекательных приключениях двух бумажных друзей, но содержит интересные мастер-классы: как из простых канцелярских принадлежностей создать бумажную поделку или нового персонажа.
                        p.text Таким образом дети могут не только смотреть мультфильм «Бумажки», но и творить вместе с его персонажами.
                        
                        .video.video-player
                            ul.hide
                                li 
                                    a(href="https://www.youtube.com/embed/9n4Be-eANcs")
                                
                                li 
                                    a(href="https://www.youtube.com/embed/tmsJ7fEZGbw")
                                
                                li 
                                    a(href="https://www.youtube.com/embed/mCZcyPXpWXA")
                                    
                            div.big-vid
                                iframe(iframe width="100%" height="100%" src="" frameborder="0" allowfullscreen)
                            div
                                div.one
                                div.two
                                div.three
                            
                        
                        p.text По вопросам приобретения видеоконтента «Бумажки»: 
                            a(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru
                            |  , +7-495-988-73-37
                        p.text Подробнее о дистрибуции контента 0+ MEDIA 
                            a(href="#") здесь
                            
                        p.title-big ЛИЦЕНЗИРОВАНИЕ БРЕНДА «Бумажки»
                        p.text Компания «0+ Media» представляет проект «Бумажки» для лицензирования в следующий категориях потребительских товаров - одежда, обувь, игрушки, товары для дома, канцелярия, продукты питания и косметика, издательская продукция и т.д.

                        p.text По вопросам приобретения лицензии на бренд «Бумажки»: 
                            a(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru
                            |  , +7-495-988-73-37

                        p.text Подробнее о Лицензионных возможностях 0+ MEDIA  
                            a(href="#") здесь
                            
                    
                    
                    
                    
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  