include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                p.title-big КОНТАКТЫ ООО "НОЛЬ ПЛЮС МЕДИА"
                div.contacts-page
                
                    
                            
                    .address
                        p
                            span Адрес: 
                            span 127051, Москва, Большой Каретный переулок, д. 22, строение 4.
                        p
                            span телефон: 
                            a.phone(href="tel:+74959887337") +7 495 988–73–37
                        p
                            span Электронная почта: 
                            a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru
                            
                    #YMapsID.contacts-map
                        //script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Erk58DJ5MgmkRk0P3sp4uQ6RBtVbf7Gw")
                    //iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1122.0911031729506!2d37.61654187476693!3d55.77270725312005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a6b112ff131%3A0x642e853896e14d8d!2z0JHQvtC70YzRiNC-0Lkg0JrQsNGA0LXRgtC90YvQuSDQv9C10YAuLCAyMtGBNCwg0JzQvtGB0LrQstCwLCAxMjcwNTE!5e0!3m2!1sru!2sru!4v1438621625956" frameborder="0" style="border:0" allowfullscreen)
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade        