include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                p.title-big Дистрибуция контента
                a.mediakit
                    span МЕДИАКИТ
                .text Компания «0+Media» занимается дистрибуцией медиаконтента в России и по всему миру. Партнерская сеть включает эфирные и кабельные телеканалы, а также цифровые сервисы, доставляющие контент на домашние и мобильные устройства.
                    p В лицензионную медиатеку «0+Media» входят несколько тысяч эпизодов, десятков телепрограмм и анимационных сериалов, разработанных специально для детской аудитории холдингом ВГТРК.
                .projects
                    p.text-blue.text-upper.lic-spec.text-bold Включая такие проекты как:
                    div.distribution-imgs
                        div
                            p аркадий паравозов спешит напомощь
                            .arcadiy
                        div
                            p ми-ми-мишки
                            .mimimishki
                        div
                            p бумажки
                            .papers
                        .clear
                        .list
                            ul
                                li
                                    span академия художеств
                                li
                                    span говорим без ошибок
                                li
                                    span навигатор. апгрейт
                            ul
                                li
                                    span почемучка
                                li
                                    span какое изобразие!
                                li
                                    span звездная команда
                            ul
                                li
                                    span пойми меня
                                li
                                    span забавные факты
                    // ul
                    //     li
                    //         span академия художеств
                    //     li
                    //         span говорим без ошибок
                    //     li
                    //         span навигатор. апгрейт
                    //     li
                    //         span почемучка
                    //     li
                    //         span какое изобразие!
                    //     li
                    //         span звездная команда
                    //     li
                    //         span пойми меня
                    //     li
                    //         span забавные факты
                    p С более детальным списком проектов, можно ознакомиться здесь: 
                        a(href="#") адрес
                
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  