include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                p.title-big ДИСТРИБУЦИЯ ВИДЕО КОНТЕНТА 0+ MEDIA
                
                .text 
                    p Компания «0+Media» занимается дистрибуцией медиаконтента в России и по всему миру. Партнерская сеть включает эфирные и кабельные телеканалы, а также цифровые сервисы, доставляющие контент на домашние и мобильные устройства.
                    p В лицензионную медиатеку «0+Media» входят несколько тысяч эпизодов, десятков телепрограмм и анимационных сериалов, разработанных специально для детской аудитории холдингом ВГТРК.
                .brands(style="margin:40px 0")
                    #slider-brands.knf-slider
                        .slider-arrow-right-blackb#slider-right2
                        #slider-brands-viewport
                            ul(class="brand-slides slides")
                                li(class="channels-slide slide5 slide" style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_arcadiy.png')")
                                li(class="channels-slide slide6 slide" style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_mimimishki.png')")
                                li(class="channels-slide slide7 slide" style="background-image: url('/templates/corporate/images/slider_title_papers_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_papers_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_papers.png')")
                                li(class="channels-slide slide8 slide" style="background: #DCDCDC")
                                    a(href="#")
                                        div(style="background: #DCDCDC")
                                        .slide_title(style="background-image: url('/templates/corporate/images/coming-soon.png')")
                            .slider-arrow-left
                            .slider-arrow-right
                        .slider-arrow-left-blackb#slider-left2
                .text(style="margin-bottom:40px")        
                    p Весь контент доступен для коммерческого использования в России, странах бывшего СССР, Европе, Северной и Южной Америке и Азии.
                    p По вопросам приобретения лицензии:   
                        a(href="mailto:sales@0plusmedia.Ru") sales@0plusmedia.ru
                        | , +7-495-988-73-37
                
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  