include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content.maincontent
                .text
                    span.text-black.bold «0+ MEDIA» 
                    span предлагает комплексный подход в продвижении товаров и услуг для детей и родителей, включающий рекламные возможности, спонсорские спецпроекты и лицензирование анимационных брендов.
                .channels
                    p.title-big ТЕЛЕКАНАЛЫ
                    #slider-channels.knf-slider.animated.work-mode-on
                        .parrot
                        .slider-arrow-right-black#slider-right1
                        #slider-channels-viewport
                            ul(class="channells-slides slides")
                                    
                                li(class="channels-slide slide1 slide" style="background-image: url('/templates/corporate/images/slider_title_mult_back_gr.jpg');" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mult_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mult_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_mult_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_mult.png');")
                                li(class="channels-slide slide2 slide" style="background-image: url('/templates/corporate/images/slider_title_mama_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mama_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mama_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_mama_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_mama.png')")
                                li(class="channels-slide slide3 slide" style="background-image: url('/templates/corporate/images/slider_title_carusel_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_carusel_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_carusel_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_carusel_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_carusel.png')")
                                li(class="channels-slide slide4 slide" style="background-image: url('/templates/corporate/images/slider_title_ani_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_ani_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_ani_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_ani_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_ani.png')")

                            .slider-arrow-left
                            .slider-arrow-right
                        .slider-arrow-left-black#slider-left1
                .brands
                    p.title-big БРЕНДЫ
                    #slider-brands.knf-slider.animated.work-mode-on
                        .slider-arrow-right-blackb#slider-right2
                        #slider-brands-viewport
                            ul(class="brand-slides slides")
                                li(class="channels-slide slide5 slide" style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_arcadiy.png')")
                                li(class="channels-slide slide6 slide" style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_mimimishki.png')")
                                li(class="channels-slide slide7 slide" style="background-image: url('/templates/corporate/images/slider_title_papers_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_papers_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_papers.png')")
                                li(class="channels-slide slide8 slide" style="background: #DCDCDC")
                                    a(href="#")
                                        div(style="background: #DCDCDC")
                                        .slide_title(style="background-image: url('/templates/corporate/images/coming-soon.png')")
                            .slider-arrow-left
                            .slider-arrow-right
                        .slider-arrow-left-blackb#slider-left2
                div.setka
                    a.one(href="#")
                        .img.img_distribution
                        div
                            span Дистрибуция контента
                            p Краткое описание про раздел и что мы предлагаем, ввиде подсказки
                    p.clear
                    a.two(href="#")
                        .img.img-a
                        div
                            span Реклама
                            p Краткое описание про рекламу и что мы предлагаем, ввиде подсказки
                    p.clear.specIpad
                    a.three(href="#")
                        .img.img-special
                        div
                            span Спецпроекты
                            p Краткое описание про раздел и что мы предлагаем, ввиде подсказки
                    p.clear
                    a.four(href="#")
                        .img.a-license
                        div
                            span Лицензия
                            p Краткое описание про раздел и что мы предлагаем, ввиде подсказки
            //include ./blocks/leftmenu.jade        
            
        include ./blocks/footer.jade