include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                p.title-big продажа лицензий
                a.mediakit
                    span ПРЕЗЕНТАЦИЯ PDF
                .text Компания «О+ Media» активно развивает лицензионную бизнес-модель как на российском рынке, так и за его пределами.
                    p В основе отношений «О+ Media» с лицензиатами лежат требования к высокому качеству лицензионной продукции, этика деловых отношений и контрактные обязательства.
                    p «О+ Media» стремится к гармоничному развитию лицензионного бизнеса, опираясь в своей работе на взаимовыгодное сотрудничество с партнёрами, мы предлагаем для лицензирования следующие анимационные бренды:
                .projects-license
                    div
                        div
                            p.text-blue  аркадий паравозов
                            .arcadiy
                            .ap
                            .girl
                            .boy
                            a(href="#") страница бренда
                        div
                            p.text-blue  ми-ми-мишки
                            .mimimishki
                            .bear-brown
                            .bear-white
                            .chicken
                            a(href="#") страница бренда
                        div
                            p.text-blue  бумажки
                            .papers
                            .rabbit
                            .bird
                            .olen
                            a(href="#") страница бренда
                        .clear
                    .clear
                    p.text-blue.text-upper.lic-spec Бренды доступны для лицензирования в следующих категориях:
                    ul
                        li
                            span одежда
                        li
                            span игрушки
                        li
                            span канцелярия
                        li
                            span косметика
                    ul
                        li
                            span обувь
                        li
                            span товары для дома
                        li
                            span продукты питания
                        li
                            span товары для праздника
                    p Мы оказываем комплексную поддержку в разработке лицензионного продукта, выпуска продукта на потребительский рынок, формирование рекламных и маркетинговых кампаний и поддержку в ритейле, крупномасштабные эфирные кампании на каналах ВГТРК.
                        span Узнать больше о лицензионных возможностях:  
                            a(href="#") адрес
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  