include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                p.title-big ЛИЦЕНЗИОННАЯ ПРОГРАММА 0+ MEDIA
                
                .text
                    p Компания «О+ Media» активно развивает лицензионную бизнес-модель как на российском рынке, так и за его пределами.
                    p В основе отношений «О+ Media» с лицензиатами лежат требования к высокому качеству лицензионной продукции, этика деловых отношений и контрактные обязательства.
                    
                    p «О+ Media» стремится к гармоничному развитию лицензионного бизнеса, опираясь в своей работе на взаимовыгодное сотрудничество с партнёрами, мы предлагаем для лицензирования  следующие анимационные бренды:

                .brands(style="margin:40px 0")
                    #slider-brands.knf-slider
                        .slider-arrow-right-blackb#slider-right2
                        #slider-brands-viewport
                            ul(class="brand-slides slides")
                                li(class="channels-slide slide5 slide" style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_arcadiy.png')")
                                li(class="channels-slide slide6 slide" style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_mimimishki.png')")
                                li(class="channels-slide slide7 slide" style="background-image: url('/templates/corporate/images/slider_title_papers_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_papers_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_papers.png')")
                                li(class="channels-slide slide8 slide" style="background: #DCDCDC")
                                    a(href="#")
                                        div(style="background: #DCDCDC")
                                        .slide_title(style="background-image: url('/templates/corporate/images/coming-soon.png')")
                            .slider-arrow-left
                            .slider-arrow-right
                        .slider-arrow-left-blackb#slider-left2
                .text(style="margin-bottom:40px")        
                    p Мы оказываем комплексную поддержку в разработке лицензионного продукта, выпуска продукта на потребительский рынок, формирование рекламных и маркетинговых кампаний и поддержку в ритейле, крупномасштабные эфирные кампании на каналах ВГТРК.
                    p По вопросам приобретения лицензии:   
                        a(href="mailto:sales@0plusmedia.Ru") sales@0plusmedia.ru
                        | , +7-495-988-73-37
                
                    
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  