include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                .brand-logo.mama-logo
                    div
                .links
                    // a(href="#")
                    //     span презентация pdf
                    // a(href="#")
                    //     span медиакит
                    a(href="http://www.mama-tv.ru/"  target="_blank")
                        span www.mama-tv.ru
                .text.crtext
                    span.text-black.bold «МAMA» 
                    span — уникальный канал для родителей и тех кто готовится ими стать. Телеканал помогает найти ответы на все вопросы, связанные с воспитанием и взрослением детей: от беременности и родов до подготовки к школе.
                    p
                        span В эфире телеканала различные познавательные программы, семейные телешоу, а также лучшие российские документальные фильмы на родительскую тематику.
                    p
                        span Канал постоянно привлекает экспертов для авторитетных ответов на вопросы родителей. Среди гостей канала  
                        span.text-black.bold «МАМА» 
                        span известные психологи и педагоги, специалисты по грудному вскармливанию, а также опытные врачи и диетологи.
                .title-big «МАМА» ЭТО:
                .channel-ul
                    ul
                        li
                            p
                                span.text-channel-red ТОП-10  
                                span ПО АУДИТОРИИ «ДОМОХОЗЯЙКИ И МОЛОДЫЕ МАМЫ» СРЕДИ ПОЗНАВАТЕЛЬНЫХ И РАЗВЛЕКАТЕЛЬНЫХ КАНАЛОВ (AFFINITY INDEX: 248)
                        li
                            p
                                span.text-channel-red 9,5 МЛН. 
                                span АУДИТОРИИ, КОТОРАЯ СМОТРИТ КАНАЛ КАЖДЫЙ МЕСЯЦ
                        li
                            p
                                span.text-channel-red 70% КОНТЕНТА КАНАЛА – ЭТО СОБСТВЕННОЕ ПРОИЗВОДСТВО
                                span , ЧТО ПОЗВОЛЯЕТ ДИНАМИЧНО РЕАГИРОВАТЬ КАК НА АКТУАЛЬНЫЕ ВОПРОСЫ ДЛЯ АУДИТОРИИ, ТАК И НА ЗАПРОСЫ РЕКЛАМОДАТЕЛЕЙ
                .video
                    .big-vid
                        iframe(iframe width="95%" height="100%" src="https://www.youtube.com/embed/WvYELXTord0" frameborder="0" allowfullscreen)
                .contact-info
                    p 
                        span ПО ВОПРОСАМ РАЗМЕЩЕНИЯ РЕКЛАМЫ НА КАНАЛЕ: 
                        a.email(href="mailto:sales@0plusmedia.ru") SALES@0PLUSMEDIA.RU
                        span ,
                        a.phone(href="tel:+74959887337") +7-495-988-73-37
                    p
                        span ПО ВОПРОСАМ ПОДКЛЮЧЕНИЯ И ТРАНСЛЯЦИИ КАНАЛА:  
                        a.email(href="mailto:contact@0plusmedia.ru") CONTACT@SIGNELMEDIA.RU
                        span ,
                        a.phone(href="tel:+74956209836") +7-495-620-98-36
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade