include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                .mimimishki-content
                    .serial-logo.mimimishki-logo
                        div
                    //.links2
                        span.hide ПРЕЗЕНТАЦИЯ  
                            a(href="#") PDF
                            |  /      
                            a(href="#") PPT
                        a(href="#")
                            span www.multkanal.ru
                    .left-column
                        .right-column
                            .blank
                                .text-card
                                    p Анимация: 
                                        span.text-blue.text-upper.text-bold 3D HD
                                    p Эпизоды: 
                                        span.text-blue.text-bold 52* 5:30 min
                                    p Статус: 
                                        span.text-blue.text-bold в производстве
                                    p Дата запуска: 
                                        span.text-blue.text-bold 2015
                                    p Трансляция
                                        p.text-blue.text-bold 
                                            a(href="#") Мульт
                                            |  
                                            a(href="#") Карусель
                    
                        p.text Проект «Ми-Ми-Мишки» рассказывает юным зрителям о веселых приключениях двух забавных медвежат – Кеши и Тучки. Кеша – бурый, заводной и активный мишка, который всегда ищет приключений и попадает в различные неприятности. Кеша очень любит изобретать новые гаджеты, которые, к сожалению, не всегда работают хорошо и часто  обращается за дружеской поддержкой к своему другу, белому  мишке – Тучке. Тучка гость с Севера, который очень любит  природу, традиции всегда спокойный и очень неторопливый.  Тучка всегда приходит на выручке Кеше, и герои «Ми-ми-мишек» всегда находят выход из любой ситуации.
                        .video.video-player
                            ul.hide
                                li 
                                    a(href="https://www.youtube.com/embed/-zCFXAumGg4")
                                
                                li 
                                    a(href="https://www.youtube.com/embed/wn4kPHMr8tg")
                                
                                li 
                                    a(href="https://www.youtube.com/embed/P0kp6ZkAiwI")
                                    
                            div.big-vid
                                iframe(iframe width="100%" height="100%" src="" frameborder="0" allowfullscreen)
                            div
                                div.one
                                div.two
                                div.three
                            
                        p.text По вопросам приобретения видеоконтента «Ми-ми-мишки»: 
                            a(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru
                            |  , +7-495-988-73-37
                        p.text Подробнее о дистрибуции контента 0+ MEDIA 
                            a(href="#") здесь
                            
                        p.title-big ЛИЦЕНЗИРОВАНИЕ БРЕНДА «Ми-ми-мишки»
                        p.text Компания «0+ Media» представляет проект «Ми-ми-мишки» для лицензирования в следующий категориях потребительских товаров - одежда, обувь, игрушки, товары для дома, канцелярия, продукты питания и косметика, издательская продукция и т.д.

                        p.text По вопросам приобретения лицензии на бренд «Ми-ми-мишки»: 
                            a(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru 
                            |  , +7-495-988-73-37

                        p.text Подробнее о Лицензионных возможностях 0+ MEDIA  
                            a(href="#") здесь
                            
                    
                    
                    
                    
                    
                    
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  