include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                .brand-logo.carusel-logo
                    div
                .links
                    // a(href="#")
                    //     span презентация pdf
                    // a(href="#")
                    //     span медиакит
                    a(href="http://www.multkanal.ru" target="_blank")
                        span www.multkanal.ru
                .text.crtext
                    span.text-black.bold «МУЛЬТ» 
                    span - крупнейший детский телеканал мультфильмов для самых маленьких.
                    p
                        span Ежедневно в эфире канала любимые всеми мультфильмы и мультсериалы: «Белка и Стрелка. Озорная семейка», «Маша и Медведь», «Лунтик», «Смешарики», «Фиксики», «Барбоскины» и многие другие.
                    p
                        span Телеканал 
                        span.text-black.bold «МУЛЬТ» 
                        span очень тщательно отбирает программный контент: в эфир попадают только полезные и добрые мультфильмы, соответствующие возрасту ребенка.
                .title-big «МУЛЬТ» ЭТО:
                .channel-ul
                    ul
                        li
                            p
                                span.text-channel-red 1-е МЕСТО 
                                span ПО ДОЛЕ И РЕЙТИНГУ СРЕДИ ВСЕХ ТЕМАТИЧЕСКИХ КАНАЛОВ В АУДИТОРИИ 4-39 ЛЕТ*
                        li
                            p
                                span.text-channel-red ПОЛМИЛЛИОНА ДЕТЕЙ
                                span , КОТОРЫЕ ЕЖЕДНЕВНО ЕГО СМОТРЯТ
                        li
                            p
                                span.text-channel-red 93 МИНУТЫ 
                                span В СРЕДНЕМ ЗРИТЕЛИ ПРОВОДЯТ У ЭКРАНА КАНАЛА
                        li
                            p
                                span.text-channel-red БОЛЕЕ 100 ШЕДЕВРОВ 
                                span РОССИЙСКОЙ АНИМАЦИИ ЕЖЕДНЕВНО
                    p.footnote *Источник: TNS Russia, проект TV Index Plus, Россия (совокупность городов 100 000+), пиплметровые измерения, март 2015, население 4+.
                .video
                    .big-vid
                        iframe(iframe width="95%" height="100%" src="https://www.youtube.com/embed/7_ehR8EkqKM" frameborder="0" allowfullscreen)
                .contact-info
                    p 
                        span ПО ВОПРОСАМ РАЗМЕЩЕНИЯ РЕКЛАМЫ НА КАНАЛЕ: 
                        a.email(href="mailto:sales@0plusmedia.ru") SALES@0PLUSMEDIA.RU
                        span ,
                        a.phone(href="tel:+74959887337") +7-495-988-73-37
                    p
                        span ПО ВОПРОСАМ ПОДКЛЮЧЕНИЯ И ТРАНСЛЯЦИИ КАНАЛА:  
                        a.email(href="mailto:contact@0plusmedia.ru") CONTACT@SIGNELMEDIA.RU
                        span ,
                        a.phone(href="tel:+74956209836") +7-495-620-98-36
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade