include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                p.title-big Спецпроекты
                a.mediakit
                    span МЕДИАКИТ
                div.setka.special
                    p.degre 360&deg;
                    a.one(href="#")
                        .img.img-special
                        div.t
                            span Продажа лицензий
                    p.clear
                    a.two(href="#")
                        .img.a-license
                        div.t
                            span Продажа контента
                    p.clear.specIpad
                    a.three(href="#")
                        .img.img_distribution
                        div.t
                            span Создание продукта
                    p.clear
                    a.four(href="#")
                        .img.img-special
                        div.t
                            span Реклама продукта
                    p.clear
                    a.five(href="#")
                        .img.a-license
                        div.t
                            span Мероприятия
                    p.clear
                    a.six(href="#")
                        .img.img-a
                        div.t
                            span Маркетинг продукта
                    p.clear
                    a.seven(href="#")
                        .img.img-special
                        div.t
                            span Продажи продукта
                    p.clear
                    
                    a.nine(href="#")
                        .img.img-a
                        div.t
                            span Создание контента
                    p.clear
                    a.ten(href="#")
                        .img.img_distribution
                        div.t
                            span Продвижение в медиа
                    p.clear
                    a.eight(href="#")
                        .img.a-license
                        div.t
                            span Монитизация онлайн
                    p.clear
                            
                // ul.text-uppercase.list.listTre
                //     li Уникальная база ресурсов
                //     li Комплексное продвижение бренда
                //     li Охват всех сфер интересов детской аудитории
                //     li Всех каналы коммуникации для достижения максимального результата
                .speclist
                    p.specpre1 Уникальная база ресурсов
                    p.specpre2 Комплексное продвижение бренда
                    p.specpre3 Охват всех сфер интересов детской аудитории
                    p.specpre1 Всех каналы коммуникации для достижения максимального результата
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  